<template>
  <div>
    <v-container class="py-8">
      <v-row>
        <v-col>
          <h3 class="ci-brown--text">เปลี่ยนรหัสผ่าน</h3>
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-col cols="12" sm="8" md="6">
          <v-row>
            <v-col>
              อีเมล์
              <v-text-field
                v-model="results.email"
                outlined
                dense
                hide-details
                placeholder="อีเมล์"
                readonly
              ></v-text-field>
            </v-col>
          </v-row>

          <v-form v-model="formValid">
            <v-row>
              <v-col>
                รหัสผ่านเก่า
                <v-text-field
                  v-model="form.old_password"
                  outlined
                  dense
                  hide-details
                  placeholder="รหัสผ่านเก่า"
                  :rules="usernameRules"
                  type="password"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                รหัสผ่านใหม่
                <v-text-field
                  v-model="form.password"
                  outlined
                  dense
                  hide-details
                  placeholder="รหัสผ่านใหม่"
                  :rules="usernameRules"
                  type="password"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                ยืนยันรหัสผ่านใหม่
                <v-text-field
                  v-model="form.re_password"
                  outlined
                  dense
                  hide-details
                  placeholder="ยืนยันรหัสผ่านใหม่"
                  :rules="usernameRules"
                  type="password"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>

          <v-row>
            <v-col>
              <v-btn
                block
                color="ci-orange"
                class="white--text"
                @click="submitHandle"
                :disabled="!formValid"
              >
                เปลี่ยนรหัสผ่าน
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      results: {
        email: this.$cookies.get("email"),
      },
      form: {
        old_password: "",
        password: "",
        re_password: "",
      },
      usernameRules: [
        (v) => !!v || "กรุณากรอกข้อมูลให้ครบถ้วน",
        (v) => /^.{8,20}$/.test(v) || "8-20 ตัวอักษร",
      ],
      formValid: false,
    };
  },
  methods: {
    //
    fetchData() {
      // get email from cookie
    },
    submitHandle() {
      // post /changepassword this.form
      this.$axios
        .post(`/user/changepassword/`, this.form)
        .then((response) => {
          if (response.data.success == "success") {
            alert("เปลี่ยนรหัสผ่านใหม่สำเร็จ");
            this.$router.push("/profile");
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "user") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
    } else {
      this.$router.push("/");
    }
  },
};
</script>