<template>
  <div>
    <v-container>
      <v-row>
        <v-col> <h3 class="ci-brown--text">คอมมูนิตี้ 77 Market</h3> </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="4" v-for="(item, index) in artToshow" :key="index">
          <article-card :data="item" />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-pagination
            v-model="page"
            :length="pages"
            circle
            color="ci-orange"
            @input="pagina()"
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  // async asyncData({ route, $http }) {
  //   const post = await $http.$get(`https://77market.co/API/article/`);
  //   console.log(post);
  //   return { post };
  // },
  data() {
    return {
      results: null,
      page: 1,
      pages: 1,
      allArticle: null,
      artToshow: null,
    };
  },
  methods: {
    fetchData() {
      // /article
      this.$axios
        .get(`/article`)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
            this.allArticle = this.results;
            this.pagina();
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    pagina() {
      this.pages = Math.ceil(this.allArticle.length / 12);
      let start = (this.page - 1) * 12;
      let stop = start + 12;
      this.artToshow = this.allArticle.slice(start, stop);
      this.$vuetify.goTo(0);
    },
    HTMLtrim(content) {
      // return content.replace(/(<([^>]+)>)/gi, "");
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "user") {
      this.$axios.setHeader(
        "Authorization",
        this.$cookies.get("token") || null
      );
    }
    this.fetchData();
  },
  head() {
    return {
      title: "77Market",
      meta: [
        {
          name: "77Market",
          content:
            "77Market - ส่งของดีและสดใหม่ จากร้านค้าชื่อดังทั่วทั้ง 77 จังหวัด ตรงถึงหน้าบ้านคุณ",
        },
        {
          name: "keywords",
          content: "77Market",
        },
        {
          property: "og:url",
          content: "https://77Market.co",
        },
        {
          property: "og:title",
          content:
            "77Market - ส่งของดีและสดใหม่ จากร้านค้าชื่อดังทั่วทั้ง 77 จังหวัด ตรงถึงหน้าบ้านคุณ",
        },
        {
          property: "og:description",
          content: "77Market",
        },
        {
          property: "og:image",
          content: "https://77market.co/images/banner2.png",
        },
      ],
      link: [
        {
          rel: "77Market",
          href: "https://77Market.co",
        },
      ],
    };
  },
};
</script>