<template>
  <div>
    <v-container class="mt-10">
      <v-row>
        <v-col>
          <h2 class="ci-brown--text">ลืมรหัสผ่าน</h2>
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-col cols="12" sm="8" md="6">
          <v-form v-model="formValid">
            <v-row class="my-6">
              <v-col>
                อีเมล์
                <v-text-field
                  v-model="form.email"
                  outlined
                  dense
                  hide-details
                  placeholder="อีเมล์"
                  :rules="emailRules"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>

          <v-row>
            <v-col>
              <v-btn
                block
                color="ci-orange"
                class="white--text"
                @click="forgotpassword()"
                :disabled="!formValid"
              >
                ส่งคำขอรหัสผ่านใหม่
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog
      v-model="resDialog"
      max-width="400"
      transition="slide-y-reverse-transition"
    >
      <v-card class="py-6">
        <v-container>
          <v-row>
            <v-col align="center">
              <h3 class="ci-brown--text">ส่งข้อความไปยังอีเมล์แล้ว</h3>
            </v-col>
          </v-row>
          <v-row>
            <v-col align="center">
              <div class="ci-brown--text">
                โปรดตรวจสอบที่กล่องข้อความอีเมล์ค่ะ
              </div>
            </v-col>
          </v-row>

          <v-row>
            <v-col align="center">
              <v-btn
                class="white--text"
                color="ci-orange"
                @click="resDialog = false"
              >
                ปิด
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
      },
      resDialog: false,
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(v) ||
          "E-mail must be valid",
      ],
      formValid: false,
    };
  },
  methods: {
    forgotpassword() {
      // this.resDialog = true;
      // /user/forgetPassword
      this.$axios
        .post(`/user/forgetPassword`, this.form)
        .then((response) => {
          if (response.data.success == "success") {
            this.resDialog = true;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
      this.resDialog = true;
    },
  },
};
</script>