<template>
  <div>
    <v-app-bar color="ci-brown" height="112">
      <v-container fill-height>
        <v-row justify="center">
          <v-col cols="8" md="6">
            <v-text-field
              v-model="searchLabel"
              outlined
              class="rounded-pill centered-input"
              background-color="white"
              placeholder="ค้นหาสินค้า , เลข SKU"
              @keydown.enter="search()"
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>

    <!-- seperator 1 -->
    <div>
      <v-img src="/images/openning.png" width="100%"></v-img>
    </div>

    <v-container>
      <!-- category menu -->
      <v-row v-if="results != null">
        <v-col
          cols="6"
          md="3"
          v-for="(item, index) in results.cat"
          :key="index"
        >
          <v-btn
            class="rounded-pill"
            block
            outlined
            @click="cateClickHandle(index)"
            :color="cateType == item.id ? 'ci-orange' : 'ci-grey'"
          >
            {{ item.name }}
          </v-btn>
        </v-col>
        <!-- <v-col cols="6" md="3">
          <v-btn
            class="rounded-pill"
            block
            outlined
            @click="cateClickHandle(1)"
            :color="cateType === 1 ? 'ci-orange' : ''"
          >
            อาหารคาว
          </v-btn>
        </v-col> -->
      </v-row>

      <!-- filter -->
      <!-- <v-row justify="end" id="product">
        <v-col cols="4">
          <v-select
            outlined
            dense
            prepend-inner-icon="mdi-filter"
            :items="filterList"
          />
        </v-col>
      </v-row>
      -->

      <!-- product list -->
      <v-row v-if="results != null">
        <v-col
          cols="6"
          md="2"
          v-for="(item, pindex) in prodToshow"
          :key="pindex"
        >
          <product-card :data="item" />
        </v-col>
      </v-row>

      <!-- pagination -->
      <v-row>
        <v-col>
          <v-pagination
            v-model="page"
            :length="pages"
            circle
            color="ci-orange"
            @input="pagina()"
          ></v-pagination>
        </v-col>
      </v-row>

      <v-divider class="my-15 t-divider" />

      <v-row justify="center">
        <h3 class="ci-brown--text">คอมมูนิตี้ 77 Market</h3>
      </v-row>

      <v-row v-if="results != null">
        <v-col
          cols="12"
          md="4"
          v-for="(item, index) in results.content"
          :key="index"
        >
          <article-card :data="item" />
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-btn
          outlined
          color="ci-orange"
          class="px-10"
          @click="$router.push('/article')"
        >
          ดูทั้งหมด
        </v-btn>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.t-divider {
  border-width: 2px !important;
  height: 100%;
}
</style>

<script>
export default {
  data() {
    return {
      searchLabel: "",
      cateType: 0,
      results: null,
      filterList: [
        { value: 0, text: "ราคาสูง -  ต่ำ" },
        { value: 1, text: "ราคาต่ำ -  สูง" },
        { value: 2, text: "สินค้ามาใหม่" },
      ],
      page: 1,
      pages: 1,
      allProduct: null,
      prodToshow: null,
    };
  },
  methods: {
    fetchData() {
      // /mainpage/:cat
      this.$axios
        .get(`/mainpage/` + this.cateType)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
            this.allProduct = this.results.product;
            this.pagina();
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    pagina() {
      this.pages = Math.ceil(this.allProduct.length / 18);
      let start = (this.page - 1) * 18;
      let stop = start + 18;
      this.prodToshow = this.allProduct.slice(start, stop);
      document.getElementById("product").scrollIntoView({ block: "center" });
    },
    cateClickHandle(cate) {
      this.cateType = cate;
      this.fetchData();
    },
    search() {
      // search this.searchLabel
      // console.log(this.searchLabel);
      if (this.searchLabel == "") {
        this.$router.push(`/search`);
      } else {
        this.$router.push(`/search?keyword=${this.searchLabel}`);
      }
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "user") {
      this.$axios.setHeader(
        "Authorization",
        this.$cookies.get("token") || null
      );
    }
    this.fetchData();
  },
  head() {
    return {
      title: "77Market",
      meta: [
        {
          name: "77Market",
          content:
            "77Market - ส่งของดีและสดใหม่ จากร้านค้าชื่อดังทั่วทั้ง 77 จังหวัด ตรงถึงหน้าบ้านคุณ",
        },
        {
          name: "keywords",
          content: "77Market",
        },
        {
          property: "og:url",
          content: "https://77Market.co",
        },
        {
          property: "og:title",
          content:
            "77Market - ส่งของดีและสดใหม่ จากร้านค้าชื่อดังทั่วทั้ง 77 จังหวัด ตรงถึงหน้าบ้านคุณ",
        },
        {
          property: "og:description",
          content: "77Market",
        },
        {
          property: "og:image",
          content: "https://77market.co/images/banner2.png",
        },
      ],
      link: [
        {
          rel: "77Market",
          href: "https://77Market.co",
        },
      ],
    };
  },
};
</script>

<style scoped>
.centered-input >>> input {
  text-align: center;
}
</style>