<template>
  <div>
    <v-container class="mt-10">
      <v-row>
        <v-col>
          <h2 class="ci-brown--text">ลงชื่อเข้าใช้</h2>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="12" sm="8" md="6">
          <v-row>
            <v-col>
              อีเมล์
              <v-text-field
                v-model="form.email"
                outlined
                dense
                hide-details
                placeholder="อีเมล์"
                :rules="emailRules"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              รหัสผ่าน
              <v-text-field
                v-model="form.password"
                outlined
                dense
                hide-details
                placeholder="รหัสผ่าน"
                type="password"
                :rules="usernameRules"
                @keydown.enter="login()"
              >
              </v-text-field>
            </v-col>
          </v-row>

          <v-row class="mt-12">
            <v-col align="right">
              <span
                class="pointer ci-orange--text"
                @click="$router.push('/forgotpassword')"
              >
                ลืมรหัสผ่าน
              </span>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-btn
                block
                color="ci-orange"
                class="white--text"
                @click="login()"
              >
                ลงชื่อเข้าใช้
              </v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-col align="center">
              <span> ลูกค้าใหม่ </span>
              <span
                class="pointer ci-orange--text"
                @click="$router.push('/register')"
              >
                สมัครสมาชิก
              </span>
              <span> ที่นี่ </span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(v) ||
          "E-mail must be valid",
      ],
      usernameRules: [
        (v) => !!v || "กรุณากรอกข้อมูลให้ครบถ้วน",
        (v) => /^.{8,20}$/.test(v) || "8-20 ตัวอักษร",
      ],
    };
  },
  methods: {
    login() {
      // login
      this.$axios
        .post(`/login`, this.form)
        .then((response) => {
          if (response.data.success == "success") {
            this.$cookies.set("role", response.data.message.role);
            this.$cookies.set("token", response.data.message.token);
            this.$cookies.set("email", response.data.message.email);
            if (response.data.message.role == "admin") {
              this.$router.push("/admin");
            } else if (response.data.message.role == "user") {
              this.$router.push(
                {
                  path: "/",
                  force: true,
                },
                () => {
                  this.$router.go(0);
                }
              );
            }
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
  },
};
</script>