<template>
  <div>
    <v-container class="mt-10">
      <v-row>
        <v-col>
          <h2 class="ci-brown--text">สมัครสมาชิก</h2>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="12" sm="8" md="6">
          <v-row>
            <v-col>
              อีเมล์
              <v-text-field
                v-model="form.email"
                outlined
                dense
                hide-details
                placeholder="อีเมล์"
                :rules="emailRules"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              สร้างรหัสผ่าน
              <v-text-field
                v-model="form.password"
                outlined
                dense
                hide-details
                placeholder="รหัสผ่าน"
                type="password"
                :rules="usernameRules"
              >
              </v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              ยืนยันรหัสผ่าน
              <v-text-field
                v-model="form.re_password"
                outlined
                dense
                hide-details
                placeholder="ยืนยันรหัสผ่าน"
                type="password"
                :rules="usernameRules"
              >
              </v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-btn
                block
                color="ci-orange"
                class="white--text"
                @click="register()"
              >
                สมัครสมาชิก
              </v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-col align="center">
              <div class="my-4">หรือเป็นสมาชิกกับ 77 Market อยู่แล้ว</div>
              <div>
                <v-btn
                  outlined
                  color="ci-orange"
                  @click="$router.push('/login')"
                >
                  คลิกที่นี่
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog
      v-model="resDialog"
      max-width="400"
      transition="slide-y-reverse-transition"
      persistent
    >
      <v-card class="py-10">
        <v-container>
          <v-row justify="center">
            <div>
              <h3 class="ci-brown--text">77 Market ยินดีต้อนรับ</h3>
            </div>
            <div class="my-8">สมัครสมาชิกสำเร็จ โปรดลงชื่อเข้าใช้อีกครั้ง</div>
          </v-row>
          <v-row justify="center">
            <div>
              <v-btn
                color="ci-orange"
                class="white--text"
                @click="closeDialog()"
              >
                ปิด
              </v-btn>
            </div>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
        re_password: "",
      },
      resDialog: false,
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(v) ||
          "E-mail must be valid",
      ],
      usernameRules: [
        (v) => !!v || "กรุณากรอกข้อมูลให้ครบถ้วน",
        (v) => /^.{8,20}$/.test(v) || "8-20 ตัวอักษร",
      ],
    };
  },
  methods: {
    register() {
      // /register
      this.$axios
        .post(`/register`, this.form)
        .then((response) => {
          if (response.data.success == "success") {
            this.resDialog = true;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
            this.form.password = "";
            this.form.re_password = "";
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    closeDialog() {
      this.resDialog = false;
      this.$router.push("/login");
    },
  },
};
</script>