<template>
  <div>
    <v-container class="mt-10">
      <v-row>
        <v-col>
          <h2 class="ci-brown--text">ลืมรหัสผ่าน</h2>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="12" sm="8" md="6">
          <v-row>
            <v-col>
              รหัสผ่านใหม่
              <v-text-field
                v-model="form.password"
                outlined
                dense
                hide-details
                placeholder="รหัสผ่านใหม่"
                type="password"
                :rules="passwordRules"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              ยืนยันรหัสผ่านใหม่
              <v-text-field
                v-model="form.re_password"
                outlined
                dense
                hide-details
                placeholder="ยืนยันรหัสผ่านใหม่"
                type="password"
                :rules="passwordRules"
              >
              </v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-btn
                block
                color="ci-orange"
                class="white--text"
                @click="submitHandle()"
              >
                ยืนยันสร้างรหัสผ่าน
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog
      v-model="resDialog"
      max-width="400"
      transition="slide-y-reverse-transition"
      persistent
    >
      <v-card class="py-6">
        <v-container>
          <v-row>
            <v-col align="center">
              <h3 class="ci-brown--text">เสร็จสิ้น</h3>
            </v-col>
          </v-row>
          <v-row>
            <v-col align="center">
              <div class="ci-brown--text">
                รีเซตรหัสผ่านใหม่เรียบร้อย โปรดเข้าสู่ระบบอีกครั้งค่ะ
              </div>
            </v-col>
          </v-row>

          <v-row>
            <v-col align="center">
              <v-btn
                class="white--text"
                color="ci-orange"
                @click="closeDialogHandle()"
              >
                ปิด
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      resDialog: false,
      form: {
        password: null,
        re_password: null,
        token: this.$route.query.token,
      },
      passwordRules: [
        (v) => !!v || "กรุณากรอกข้อมูลให้ครบถ้วน",
        (v) => /^.{8,20}$/.test(v) || "8-20 ตัวอักษร",
      ],
    };
  },
  methods: {
    submitHandle() {
      this.$axios
        .post(`/user/resetpassword`, this.form)
        .then((response) => {
          if (response.data.success == "success") {
            this.resDialog = true;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
            this.form.password = null;
            this.form.re_password = null;
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    closeDialogHandle() {
      this.resDialog = false;
      this.$router.push("/login");
    },
  },
  beforeMount() {
    this.$cookies.removeAll();
    if (this.$route.query.token == null) {
      this.$router.push("/");
    }
  },
};
</script>

