<template>
  <div>
    <v-app-bar color="ci-brown" height="112">
      <v-container fill-height>
        <v-row justify="center">
          <v-col cols="8" md="6">
            <v-text-field
              v-model="searchLabel"
              outlined
              class="rounded-pill centered-input"
              background-color="white"
              placeholder="ค้นหาสินค้า , เลข SKU"
              @keydown.enter="search()"
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>

    <v-container v-if="results != null">
      <v-row>
        <v-col cols="6" md="2" v-for="(item, index) in results" :key="index">
          <!-- vfor -->
          <product-card :data="item" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchLabel: "",
      results: null,
    };
  },
  methods: {
    fetchData() {
      this.$axios
        .get(`/search/` + this.$route.query.keyword)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    search() {
      let queryparam = {};
      if (this.searchLabel == "") {
        queryparam = {};
      } else {
        queryparam = { keyword: this.searchLabel };
      }
      this.$router.push(
        {
          path: "/search",
          query: queryparam,
          force: true,
        },
        () => {
          this.$router.go(0);
        }
      );
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "user") {
      this.$axios.setHeader(
        "Authorization",
        this.$cookies.get("token") || null
      );
    }
    this.fetchData();
  },
  head() {
    return {
      title: "77Market",
      meta: [
        {
          name: "77Market",
          content:
            "77Market - ส่งของดีและสดใหม่ จากร้านค้าชื่อดังทั่วทั้ง 77 จังหวัด ตรงถึงหน้าบ้านคุณ",
        },
        {
          name: "keywords",
          content: "77Market",
        },
        {
          property: "og:url",
          content: "https://77Market.co",
        },
        {
          property: "og:title",
          content:
            "77Market - ส่งของดีและสดใหม่ จากร้านค้าชื่อดังทั่วทั้ง 77 จังหวัด ตรงถึงหน้าบ้านคุณ",
        },
        {
          property: "og:description",
          content: "77Market",
        },
        {
          property: "og:image",
          content: "https://77market.co/images/banner2.png",
        },
      ],
      link: [
        {
          rel: "77Market",
          href: "https://77Market.co",
        },
      ],
    };
  },
};
</script>

<style scoped>
.centered-input >>> input {
  text-align: center;
}
</style>