<template>
  <div>
    <v-container class="py-8" v-if="results != null">
      <v-row>
        <v-col>
          <div class="d-flex">
            <h3 class="ci-brown--text">
              77 Market Point ของฉัน : {{ results.total }}
            </h3>
            <!-- <span class="ml-8">
              <v-btn
                rounded
                color="ci-orange"
                class="white--text"
                small
              >
                แลกของ
              </v-btn>
            </span> -->
          </div>
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-col cols="12" md="8">
          <v-row>
            <v-col> วันที่ / เวลา </v-col>
            <v-col> รายละเอียด </v-col>
            <v-col align="right"> จำนวน </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row
        justify="center"
        v-for="(item, index) in results.detail"
        :key="index"
      >
        <v-col cols="12" md="8">
          <v-row align="center">
            <v-col> {{ item.date_create }} </v-col>
            <v-col> {{ item.detail }} </v-col>
            <v-col align="right">
              <v-chip color="green lighten-5" v-if="item.point > 0">
                {{ item.point }}
              </v-chip>
              <v-chip color="ci-orange lighten-5" v-if="item.point < 0">
                {{ item.point }}
              </v-chip>
            </v-col>
          </v-row>
          <v-divider class="my-2"></v-divider>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      results: null,
      form: {
        old_password: "",
        new_password: "",
        re_password: "",
      },
    };
  },
  methods: {
    //
    fetchData() {
      // /user/point
      this.$axios
        .get(`/user/point`)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    submitHandle() {
      // post /changepassword this.form
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "user") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.fetchData();
    } else {
      this.$router.push("/");
    }
  },
};
</script>