<template>
  <div>
    <div hidden>
      <input
        type="file"
        id="fileUpload"
        ref="file"
        hidden
        v-on:change="upload()"
        accept="image/*"
      />
    </div>
    <v-container fluid class="pa-6">
      <v-row>
        <v-col>
          <h2>บทความ</h2>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <h4>ขั้นตอนที่ 1 | หัวข้อบทความ</h4>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          หัวข้อ
          <v-text-field
            v-model="form.name"
            outlined
            dense
            placeholder="HTML"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div>ภาพปก</div>
          <v-btn
            large
            color="ci-blue"
            class="white--text"
            @click="uploadClick('main')"
          >
            <v-icon>mdi-image</v-icon>
            อัพโหลดภาพปก
          </v-btn>
        </v-col>
      </v-row>
      <!-- cover show -->
      <v-row>
        <v-col>
          <v-img
            :src="getImage(form.img_url)"
            height="200"
            max-width="200"
            contain
          ></v-img>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          เนื้อหาหลัก
          <v-textarea
            v-model="form.detail"
            outlined
            no-resize
            rows="8"
            placeholder="HTML"
          ></v-textarea>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <h4>เนื้อหาอื่นๆ</h4>
        </v-col>
      </v-row>
      <v-row v-for="(item, index) in othercontent" :key="index">
        <v-col>
          <div v-if="item.type == 'image'">
            <v-btn
              large
              color="ci-blue"
              class="white--text"
              @click="uploadClick('other', index)"
            >
              <v-icon>mdi-image</v-icon>
              อัพโหลดภาพ
            </v-btn>
            <div class="pa-4">
              <v-img
                :src="getImage(item.val)"
                height="200"
                max-width="200"
                contain
              ></v-img>
            </div>
          </div>
          <div v-if="item.type == 'text'">
            <v-textarea
              v-model="item.val"
              outlined
              no-resize
              rows="8"
              placeholder="HTML"
            ></v-textarea>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="3">
          <v-btn
            large
            color="ci-blue"
            class="white--text"
            @click="addContent(1)"
          >
            เพิ่มรูปภาพ
          </v-btn>
        </v-col>
        <v-col cols="3">
          <v-btn
            large
            color="ci-blue"
            class="white--text"
            @click="addContent(2)"
          >
            เพิ่มเนื้อหา
          </v-btn>
        </v-col>
      </v-row>

      <v-row class="mb-5">
        <v-col>
          <v-btn
            color="ci-orange"
            class="white--text"
            large
            @click="submitHandle()"
          >
            บันทึก
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.dashbtn {
  background-color: white !important;
  border: 2px dashed #000;
}
</style>

<script>
export default {
  data() {
    return {
      form: {
        name: null,
        img_url: null,
        detail: null,
      },
      othercontent: [],
      bufferIMGpath: [],
      bufferIMGindex: null,
      requireRules: [(v) => !!v || "กรุณาใส่ข้อมูลให้ครบถ้วน"],
      decimalRules: [
        (v) => !!v || "กรุณากรอกข้อมูลให้ครบถ้วน",
        (v) => /^\d*\.?\d*$/.test(v) || "กรุณาตรวจสอบค่าอีกครั้ง",
      ],
      numberRules: [
        (v) => !!v || "กรุณากรอกข้อมูลให้ครบถ้วน",
        (v) => v != 0 || "กรุณาตรวจสอบค่าอีกครั้ง",
        (v) => /^[-+]?[0-9]+$/.test(v) || "กรุณาตรวจสอบค่าอีกครั้ง",
      ],
    };
  },
  methods: {
    fetchData() {
      // /admin/product
      this.$axios
        .get(`/admin/article/` + this.$route.query.id)
        .then((response) => {
          if (response.data.success == "success") {
            this.form = response.data.message.detail;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    addContent(type) {
      if (type == 1) {
        this.othercontent.push({ type: "image", val: "" });
      } else if (type == 2) {
        this.othercontent.push({ type: "text", val: "" });
      }
    },
    prepareData() {
      // prepare data for api
      console.log("prepare data");
      console.log(this.othercontent);
      let str = this.form.detail;
      this.othercontent.forEach((element) => {
        str += "<div>\n";
        if (element.type == "image") {
          str += `<img src="https://77market.co/API/image/${element.val}"></img>\n<br/>\n`;
        } else if (element.type == "text") {
          str += element.val + "\n<br/>\n";
        }
        str += "</div>";
      });

      console.log(str);
      this.form.detail = str;
    },
    submitHandle() {
      this.prepareData();
      console.log(this.form);

      if (this.$route.query.type == "add") {
        // post
        this.$axios
          .post(`/admin/article`, this.form)
          .then((response) => {
            if (response.data.success == "success") {
              alert("เพิ่มบทความสำเร็จ");
              this.$router.push("/admin/article");
            } else {
              alert(
                response.data.message_th ||
                  "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
              );
            }
          })
          .catch((error) => {
            console.log(error.response);
          });
      } else if (this.$route.query.type == "edit") {
        // put
        this.$axios
          .put(`/admin/article`, this.form)
          .then((response) => {
            if (response.data.success == "success") {
              alert("แก้ไขบทความสำเร็จ");
              this.$router.push("/admin/article");
            } else {
              alert(
                response.data.message_th ||
                  "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
              );
            }
          })
          .catch((error) => {
            console.log(error.response);
          });
      }
    },
    uploadClick(mode, index) {
      this.img_index = mode;
      this.bufferIMGindex = index;
      document.getElementById("fileUpload").click();
    },
    upload() {
      let file = null;
      file = event.target.files[0];

      let fd = new FormData();
      fd.append("image", file);
      this.$axios.post("/upload/article", fd).then((response) => {
        if (response.data.success == "success") {
          if (this.img_index == "main") {
            this.form.img_url = response.data.path;
          } else {
            this.othercontent[this.bufferIMGindex].val = response.data.path;
            // this.bufferIMGpath.push({
            //   index: this.bufferIMGindex,
            //   path: response.data.path,
            // });
          }
          document.getElementById("fileUpload").value = null;
        } else {
          alert(
            response.data.message_th ||
              "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
          );
        }
      });
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
  },
  beforeMount() {
    // check token
    if (this.$cookies.get("role") == "admin") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      if (this.$route.query.type == "edit") {
        this.fetchData();
      }
    } else {
      this.$router.push("/");
    }
  },
};
</script>