<template>
  <div class="pa-4">
    <v-container fluid>
      <v-row>
        <v-col>
          <h3 class="ci-brown--text">บทความทั้งหมด</h3>
        </v-col>
        <v-col align="right">
          <v-btn color="ci-orange white--text" @click="addArticleHandle()">
            เพิ่มบทความ
          </v-btn>
        </v-col>
      </v-row>
      <v-row v-if="results != null">
        <v-col>
          <v-data-table
            :headers="headers"
            :items="results"
            hide-default-footer
            @click:row="rowclick"
          >
            <template v-slot:item.img_url="{ item }">
              <v-img
                :src="getImage(item.img_url)"
                contain
                max-height="200"
                max-width="200"
              ></v-img>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      results: null,
      headers: [
        { text: "ชื่อบทความ", value: "name" },
        { text: "ภาพปก", value: "img_url" },
      ],
    };
  },
  methods: {
    fetchData() {
      // /admin/article
      this.$axios
        .get(`/admin/article`)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    addArticleHandle() {
      this.$router.push(`/admin/article/detail?type=add`);
    },
    rowclick(item) {
      // console.log(item);
      this.$router.push(`/admin/article/detail?type=edit&id=${item.id}`);
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "admin") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.fetchData();
    } else {
      this.$router.push("/");
    }
  },
};
</script>