<template>
  <div>
    <!-- admin drawer -->
    <v-navigation-drawer
      v-model="drawer"
      :clipped="true"
      fixed
      app
      permanent
      color="ci-brown"
      width="270px"
    >
      <v-list flat>
        <v-list-item
          v-for="(item, index) in links"
          :key="index"
          class="pointer"
          :to="item.to"
          active-class="ci-orange--text text--accent-4"
        >
          <v-list-item-icon>
            <v-icon class="white--text">
              {{ item.icon }}
            </v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title class="white--text">
              {{ item.text }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <div class="pa-2 ma-3">
          <v-btn block @click="logout"> ออกจากระบบ </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <nuxt-child />
  </div>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      links: [
        {
          icon: "mdi-clipboard-text-outline",
          text: "คำสั่งซื้อ",
          to: "/admin/order",
        },
        {
          icon: "mdi-archive-outline",
          text: "สินค้า",
          to: "/admin/product",
        },
        {
          icon: "mdi-book-open-outline",
          text: "บทความ",
          to: "/admin/article",
        },
      ],
    };
  },
  methods: {
    logout() {
      this.$cookies.removeAll();
      this.$router.push("/");
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "admin") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
    } else {
      this.$router.push("/");
    }
  },
};
</script>