<template>
  <div>welcome admin</div>
</template>

<script>
export default {
  beforeMount() {
    if (this.$cookies.get("role") == "admin") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
    } else {
      this.$router.push("/");
    }
  },
};
</script>