<template>
  <div>
    <div hidden>
      <input
        type="file"
        id="fileUpload"
        ref="file"
        hidden
        v-on:change="upload()"
        accept="image/*"
      />
    </div>
    <v-container class="py-15">
      <v-row>
        <!-- left panel -->
        <v-col cols="12" md="6">
          <v-row>
            <v-col>
              <h3 class="ci-brown--text">จัดส่งสินค้าไปยัง</h3>
            </v-col>
          </v-row>

          <v-form v-if="addressData != null" v-model="formValid" ref="formref">
            <v-row>
              <v-col>
                ชื่อ-นามสกุล
                <v-text-field
                  v-model="form.name"
                  outlined
                  dense
                  hide-details
                  placeholder="ชื่อ-นามสกุล"
                  :rules="nameRules"
                ></v-text-field>
              </v-col>
              <v-col>
                เบอร์โทรศัพท์
                <v-text-field
                  v-model="form.tel"
                  outlined
                  dense
                  hide-details
                  placeholder="เบอร์โทรศัพท์"
                  :rules="telRules"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                จังหวัด
                <v-select
                  v-model="form.province"
                  :items="addressData"
                  item-text="name_thai"
                  item-value="id"
                  outlined
                  dense
                  hide-details
                  placeholder="เลือกจังหวัด"
                  :rules="requireRules"
                  @change="editFormNewAddress('province')"
                ></v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                อำเภอ / เขต
                <v-select
                  v-model="form.district"
                  :items="addressData[getProvinceIndex(form.province)].district"
                  item-text="name_thai"
                  item-value="id"
                  outlined
                  dense
                  hide-details
                  placeholder="เลือกอำเภอ / เขต"
                  :rules="requireRules"
                  :disabled="form.province == null"
                  @change="editFormNewAddress('district')"
                ></v-select>
              </v-col>
              <v-col>
                ตำบล / แขวง
                <v-select
                  v-model="form.sub_district"
                  :items="
                    addressData[getProvinceIndex(form.province)].district[
                      getDistrictIndex(form.district)
                    ].sub_district
                  "
                  item-text="name_thai"
                  item-value="id"
                  outlined
                  dense
                  hide-details
                  placeholder="เลือกตำบล / แขวง"
                  :rules="requireRules"
                  :disabled="form.district == null"
                  @change="editFormNewAddress('subdistrict')"
                ></v-select>
              </v-col>
            </v-row>

            <v-row>
              <v-col>
                รายละเอียดที่อยู่
                <v-text-field
                  v-model="form.address"
                  outlined
                  dense
                  hide-details
                  placeholder="บ้านเลขที่ ซอย ถนน"
                  :rules="requireRules"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col>
                รหัสไปรษณีย์
                <v-select
                  v-model="form.postcode"
                  :items="
                    addressData[getProvinceIndex(form.province)].district[
                      getDistrictIndex(form.district)
                    ].sub_district[getSubDistrictIndex(form.sub_district)].post
                  "
                  item-text="post"
                  item-value="post"
                  outlined
                  dense
                  hide-details
                  placeholder="เลือกรหัสไปรษณีย์"
                  :rules="requireRules"
                  :disabled="form.sub_district == null"
                ></v-select>
              </v-col>
            </v-row>

            <v-divider class="my-10 t-divider"></v-divider>

            <v-row>
              <v-col>
                <h3 class="ci-brown--text">ชำระเงิน</h3>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-radio-group v-model="radioPayment">
                  <v-radio>
                    <template v-slot:label>
                      <b> โอนชำระผ่านธนาคาร </b>
                    </template>
                  </v-radio>
                  <div>
                    เลขบัญชี 020-8-59177-0
                    <br />
                    ธนาคารกสิกรไทย
                    <br />
                    ชื่อบัญชี นาย จิรกิตติ์ ไพฑูรย์เนรมิต
                  </div>
                </v-radio-group>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-img
                  src="/images/77QRpayment.jpg"
                  contain
                  max-height="350"
                ></v-img>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                วันที่ชำระเงิน
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="form.date_transfer"
                      placeholder="เลือกวันที่"
                      prepend-inner-icon="mdi-calendar"
                      outlined
                      dense
                      readonly
                      :rules="requireRules"
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="form.date_transfer"
                    @input="menu = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                เวลา
                <v-row>
                  <v-col>
                    <v-select
                      :items="hrlist"
                      v-model="form.transfer_hour"
                      dense
                      outlined
                    >
                    </v-select>
                  </v-col>
                  <v-col>
                    <v-select
                      :items="mnlist"
                      v-model="form.transfer_min"
                      dense
                      outlined
                    >
                    </v-select>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                ยอดชำระ (บาท)
                <v-text-field
                  v-model="form.amount"
                  outlined
                  dense
                  hide-details
                  placeholder="จำนวนเงิน"
                  :rules="requireRules"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col> แนบสลิปโอน </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-img
                  :src="getImage(form.slip_img)"
                  max-height="200"
                  max-width="200"
                  contain
                >
                </v-img>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-btn
                  color="ci-blue"
                  class="white--text"
                  @click="uploadClick(1)"
                  :loading="btnLoading"
                >
                  <v-icon>mdi-image</v-icon>
                  <b>อัพโหลดรูปภาพ</b>
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-btn
                  color="ci-orange"
                  class="white--text"
                  @click="makePayment()"
                  :disabled="!formValid"
                >
                  <b> ยืนยันชำระเงิน </b>
                </v-btn>
              </v-col>
            </v-row>
          </v-form>

          <v-row v-else>
            <v-col>
              <v-progress-circular
                indeterminate
                color="ci-orange"
              ></v-progress-circular>
            </v-col>
          </v-row>
        </v-col>

        <!-- right panel -->
        <v-col cols="12" md="6">
          <v-card elevation="0" color="ci-grey-lt3">
            <v-container>
              <v-row>
                <v-col>
                  <h3 class="ci-brown--text">สรุปรายการสั่งซื้อ</h3>
                </v-col>
              </v-row>

              <!-- product list -->
              <div v-if="results != null">
                <v-row v-for="(item, index) in results.product" :key="index">
                  <v-col cols="12" md="6">
                    <div class="d-flex">
                      <v-img
                        :src="getImage(item.img_url)"
                        max-height="100"
                        max-width="100"
                        contain
                      ></v-img>
                      <div>
                        <div class="ci-brown--text">
                          <b> {{ item.name }} </b>
                        </div>
                        <div class="text--secondary font-12">
                          SKU: {{ item.sku }}
                        </div>
                        <!-- <div class="mt-5">
                        <v-chip color="ci-orange" outlined>
                          ได้รับ 10 point
                        </v-chip>
                      </div> -->
                      </div>
                    </div>
                  </v-col>
                  <v-col
                    :align="$vuetify.breakpoint.xs ? 'left' : 'center'"
                    cols="6"
                    md="3"
                  >
                    x {{ item.qty }}
                  </v-col>
                  <v-col align="right" cols="6" md="3">
                    <div class="ci-brown--text">
                      <b>
                        ฿
                        {{
                          parseFloat(item.price).toLocaleString(undefined, {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2,
                          })
                        }}
                      </b>
                    </div>
                  </v-col>
                </v-row>

                <v-divider class="my-8 t-divider"></v-divider>

                <v-row justify="end">
                  <v-col>
                    <v-row justify="end">
                      <v-col cols="6" md="3" align="right" class="py-1">
                        <b class="ci-brown--text"> 77 Market Points </b>
                      </v-col>
                      <v-col cols="6" md="3" align="right" class="py-1">
                        <b class="ci-brown--text"> {{ results.point }} </b>
                      </v-col>
                    </v-row>
                    <v-row justify="end">
                      <v-col cols="6" md="3" align="right" class="py-1">
                        <b class="ci-brown--text"> ค่าสินค้า </b>
                      </v-col>
                      <v-col cols="6" md="3" align="right" class="py-1">
                        <b class="ci-brown--text">
                          ฿
                          {{
                            parseFloat(results.price).toLocaleString(
                              undefined,
                              {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2,
                              }
                            )
                          }}
                        </b>
                      </v-col>
                    </v-row>
                    <v-row justify="end">
                      <v-col cols="6" md="3" align="right" class="py-1">
                        <b class="ci-brown--text"> ค่าจัดส่ง </b>
                      </v-col>
                      <v-col cols="6" md="3" align="right" class="py-1">
                        <b class="ci-brown--text">
                          ฿
                          {{
                            parseFloat(results.delivery).toLocaleString(
                              undefined,
                              {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2,
                              }
                            )
                          }}
                        </b>
                      </v-col>
                    </v-row>
                    <v-row justify="end">
                      <v-col cols="6" md="3" align="right" class="py-1">
                        <b class="ci-brown--text font-20"> ทั้งหมด </b>
                      </v-col>
                      <v-col cols="6" md="3" align="right" class="py-1">
                        <b class="ci-orange--text font-20">
                          ฿
                          {{
                            parseFloat(results.total).toLocaleString(
                              undefined,
                              {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2,
                              }
                            )
                          }}
                        </b>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </div>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog
      v-model="resDialog"
      max-width="440"
      transition="slide-y-reverse-transition"
      persistent
    >
      <v-card class="py-8">
        <v-container>
          <v-row justify="center">
            <v-col align="center">
              <h3 class="ci-brown--text">แจ้งชำระเงินเสร็จสิ้น!</h3>
            </v-col>
          </v-row>
          <v-row>
            <v-col align="center">
              <div class="ci-brown--text">เลขที่คำสั่งซื้อ: 0123795</div>

              <div class="ci-brown--text">
                โปรดรอตรวจสอบชำระเงินจากกเจ้าหน้าที่ภายใน 24 ชม.
              </div>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-btn
              color="ci-orange"
              class="white--text"
              @click="toOrderHistory"
            >
              ไปที่ประวัติการสั่งซื้อ
            </v-btn>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
.t-divider {
  border-width: 2px !important;
  height: 100%;
}
</style>

<script>
export default {
  data() {
    return {
      form: {
        name: "",
        tel: "",
        address: "",
        sub_district: null,
        district: null,
        province: null,
        postcode: null,
        date_transfer: "",
        transfer_hour: "00",
        transfer_min: "00",
        amount: null,
        slip_img: "",
      },
      formValid: false,
      radioPayment: 0,
      date: "",
      menu: false,
      hrlist: [],
      mnlist: [],
      hr: "00",
      mn: "00",
      resDialog: false,
      results: null,
      addressData: null,
      btnLoading: false,
      requireRules: [(v) => !!v || "กรุณาใส่ข้อมูลให้ครบถ้วน"],
      nameRules: [
        (v) => !!v || "กรุณาใส่ข้อมูลให้ครบถ้วน",
        (v) => /^([^0-9+!@#$%^&*)_/+=-]*)$/.test(v) || "กรุณาตรวจสอบข้อมูล",
      ],
      telRules: [
        (v) => !!v || "กรุณากรอกข้อมูลให้ครบถ้วน",
        (v) => /^[0-9]{8,11}$/.test(v) || "กรุณาตรวจสอบค่าอีกครั้ง",
      ],
      numberRules: [
        (v) => !!v || "กรุณากรอกข้อมูลให้ครบถ้วน",
        (v) => v != 0 || "กรุณาตรวจสอบค่าอีกครั้ง",
        (v) => /^[-+]?[0-9]+$/.test(v) || "กรุณาตรวจสอบค่าอีกครั้ง",
      ],
    };
  },
  methods: {
    fetchData() {
      this.$axios
        .get(`/user/cart`)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    fetchAddressData() {
      // /addressData
      this.$axios
        .get(`/addressData`)
        .then((response) => {
          if (response.data.success == "success") {
            this.addressData = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    getProvinceIndex(id) {
      for (let i = 0; i < this.addressData.length; i++) {
        if (this.addressData[i].id == id) {
          return i;
        }
      }
      return 0;
    },
    getDistrictIndex(id) {
      for (
        let i = 0;
        i <
        this.addressData[this.getProvinceIndex(this.form.province)].district
          .length;
        i++
      ) {
        if (
          this.addressData[this.getProvinceIndex(this.form.province)].district[
            i
          ].id == id
        ) {
          return i;
        }
      }
      return 0;
    },
    getSubDistrictIndex(id) {
      for (
        let i = 0;
        i <
        this.addressData[this.getProvinceIndex(this.form.province)].district[
          this.getDistrictIndex(this.form.district)
        ].length;
        i++
      ) {
        if (
          this.addressData[this.getProvinceIndex(this.form.province)].district[
            this.getDistrictIndex(this.form.district)
          ].sub_district[i] == id
        ) {
          return i;
        }
      }
      return 0;
    },
    editFormNewAddress(type) {
      switch (type) {
        case "province":
          this.form.district = null;
          this.form.subdistrict = null;
          this.form.postcode = null;
          break;
        case "district":
          this.form.subdistrict = null;
          this.form.postcode = null;
          break;
        case "subdistrict":
          this.form.postcode = null;
          break;
      }
    },
    hrminArr() {
      for (let i = 0; i < 60; i++) {
        if (i < 10) {
          this.hrlist.push("0" + i.toString());
          this.mnlist.push("0" + i.toString());
        } else {
          if (i < 24) {
            this.hrlist.push(i.toString());
            this.mnlist.push(i.toString());
          } else {
            this.mnlist.push(i.toString());
          }
        }
      }
    },
    makePayment() {
      // this.resDialog = true;
      // post /user/purchase, this.form
      if (this.form.slip_img == "") {
        alert("กรุณาอัพโหลดรูปสลิป");
      } else {
        this.$axios
          .post(`/user/purchase`, this.form)
          .then((response) => {
            if (response.data.success == "success") {
              this.resDialog = true;
            } else {
              alert(
                response.data.message_th ||
                  "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
              );
            }
          })
          .catch((error) => {
            console.log(error.response);
          });
      }
    },
    toOrderHistory() {
      this.resDialog = false;
      this.$router.push("/profile/history");
    },
    uploadClick(mode) {
      this.btnLoading = true;
      this.img_index = mode;
      document.getElementById("fileUpload").click();
    },
    upload() {
      this.btnLoading = true;
      let file = null;
      file = event.target.files[0];

      let fd = new FormData();
      fd.append("image", file);
      this.$axios.post("/upload/product", fd).then((response) => {
        if (response.data.success == "success") {
          if (this.img_index == 1) {
            this.form.slip_img = response.data.path;
          }
          document.getElementById("fileUpload").value = null;
          this.btnLoading = false;
        } else {
          alert(
            response.data.message_th ||
              "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
          );
        }
      });
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
  },
  beforeMount() {
    if (this.$cookies.get("token")) {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.fetchData();
      this.fetchAddressData();
      this.hrminArr();
    } else {
      this.$router.push("/login");
    }
  },
};
</script>