<template>
  <div>
    <v-container class="pa-8">
      <v-row>
        <v-col>
          <h4 class="ci-brown--text">รายละเอียดคำสั่งซื้อ</h4>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div>เลขที่คำสั่งซื้อ: {{ results.order_id }}</div>
          <div>วันที่ทำรายการ : {{ results.date_create }}</div>
        </v-col>
      </v-row>

      <v-divider class="my-8"></v-divider>

      <v-row>
        <v-col>
          <v-row>
            <v-col>
              <h3>สินค้า</h3>
            </v-col>
          </v-row>

          <!-- product list -->
          <v-row>
            <v-col>
              <!-- product list -->
              <div v-if="results != null">
                <v-row
                  v-for="(item, index) in results.detail.product"
                  :key="index"
                >
                  <v-col cols="6">
                    <div class="d-flex">
                      <!-- :src="getImage(path)" -->
                      <v-img
                        :src="getImage(item.img_url)"
                        max-height="100"
                        max-width="100"
                        contain
                      ></v-img>
                      <div>
                        <div class="ci-brown--text">
                          <b> {{ item.name }} </b>
                        </div>
                        <div class="text--secondary font-12">
                          SKU: {{ item.sku }}
                        </div>
                        <!-- <div class="mt-5">
                        <v-chip color="ci-orange" outlined>
                          ได้รับ 10 point
                        </v-chip>
                      </div> -->
                      </div>
                    </div>
                  </v-col>
                  <v-col align="center"> x {{ item.qty }} </v-col>
                  <v-col align="right">
                    <div class="ci-brown--text">
                      <b>
                        ฿
                        {{
                          parseFloat(item.price).toLocaleString(undefined, {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2,
                          })
                        }}
                      </b>
                    </div>
                  </v-col>
                </v-row>

                <v-divider class="my-8 t-divider"></v-divider>

                <v-row justify="end">
                  <v-col>
                    <v-row justify="end">
                      <v-col cols="5" align="right" class="py-1">
                        <b class="ci-brown--text"> 77 Market Points </b>
                      </v-col>
                      <v-col cols="3" align="right" class="py-1">
                        <b class="ci-brown--text">
                          {{ results.detail.point }}
                        </b>
                      </v-col>
                    </v-row>
                    <v-row justify="end">
                      <v-col cols="3" align="right" class="py-1">
                        <b class="ci-brown--text"> ค่าสินค้า </b>
                      </v-col>
                      <v-col cols="3" align="right" class="py-1">
                        <b class="ci-brown--text">
                          ฿
                          {{
                            parseFloat(results.detail.price).toLocaleString(
                              undefined,
                              {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2,
                              }
                            )
                          }}
                        </b>
                      </v-col>
                    </v-row>
                    <v-row justify="end">
                      <v-col cols="3" align="right" class="py-1">
                        <b class="ci-brown--text"> ค่าจัดส่ง </b>
                      </v-col>
                      <v-col cols="3" align="right" class="py-1">
                        <b class="ci-brown--text">
                          ฿
                          {{
                            parseFloat(results.detail.delivery).toLocaleString(
                              undefined,
                              {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2,
                              }
                            )
                          }}
                        </b>
                      </v-col>
                    </v-row>
                    <v-row justify="end">
                      <v-col cols="4" align="right" class="py-1">
                        <b class="ci-brown--text font-20"> ทั้งหมด </b>
                      </v-col>
                      <v-col cols="4" md="3" align="right" class="py-1">
                        <b class="ci-orange--text font-20">
                          ฿
                          {{
                            parseFloat(results.detail.total).toLocaleString(
                              undefined,
                              {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2,
                              }
                            )
                          }}
                        </b>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-row>
            <v-col>
              <h4 class="ci-brown--text">บัญชีสมาชิก</h4>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card elevation="0" color="ci-grey-lt3" class="pa-2">
                email : {{ results.email }}
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-row>
            <v-col>
              <h4 class="ci-brown--text">ข้อมูลผู้ติดต่อ/ที่อยู่จัดส่ง</h4>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card elevation="0" color="ci-grey-lt3" class="pa-2">
                <v-container>
                  <v-row>
                    <v-col> ชื่อ : {{ results.name }} </v-col>
                  </v-row>
                  <v-row>
                    <v-col> เบอร์โทรศัพท์ : {{ results.tel }}</v-col>
                  </v-row>
                  <v-row>
                    <v-col> ที่อยู่ : {{ results.address }}</v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-row>
            <v-col>
              <h4 class="ci-brown--text">การแจ้งชำระเงิน</h4>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card elevation="0" color="ci-grey-lt3" class="pa-2">
                <v-container>
                  <v-row>
                    <v-col> วันที่ : {{ results.date_transfer }}</v-col>
                  </v-row>
                  <v-row>
                    <!-- <v-col> เวลา : {{results.}}</v-col> -->
                  </v-row>
                  <v-row>
                    <v-col> ยอดชำระ : {{ results.amount }}</v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      slip
                      <v-img
                        :src="getImage(results.slip_img)"
                        max-width="400"
                        max-height="400"
                        contain
                      ></v-img>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-divider class="my-5"></v-divider>

      <!-- approve reject btn -->
      <v-row v-if="results.status == 0">
        <v-col class="d-flex">
          <v-btn
            color="ci-green"
            class="white--text"
            @click="submitHandle('approve')"
          >
            อนุมัติการแจ้งชำระเงิน
          </v-btn>
          <v-btn
            color="ci-red"
            class="mx-4 white--text"
            @click="submitHandle('cancle')"
            >ปฏิเสธออเดอร์</v-btn
          >
        </v-col>
      </v-row>

      <!-- tracking -->
      <v-row v-if="results.status == 1 || results.status == 2">
        <v-col>
          <v-row>
            <v-col>
              <h3 class="ci-brown--text py-5">เลขพัสดุการจัดส่ง</h3>
              หมายเลขพัสดุ
              <v-text-field
                v-model="results.tracking"
                outlined
                dense
                placeholder="พิมพ์ตรงนี้"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn
                color="ci-green"
                class="white--text"
                :disabled="results.status == 2"
                @click="submitHandle('tracking')"
              >
                บันทึกข้อมูลการจัดส่ง
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row v-if="results.status == 3">
        <v-col>
          <v-alert color="ci-red"> ออเดอร์ถูกยกเลิก </v-alert>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      //
      results: {
        id: null,
        order_id: null,
        user_id: null,
        name: null,
        tel: null,
        address: null,
        sub_district: null,
        district: null,
        province: null,
        postcode: null,
        date_transfer: null,
        amount: null,
        slip_img: null,
        point: null,
        total: null,
        delivery: null,
        detail: {
          point: null,
          price: null,
          total: null,
          product: [],
          delivery: null,
        },
        status: null,
        tracking: null,
        date_create: null,
      },
    };
  },
  methods: {
    fetchData() {
      // /admin/order/2
      this.$axios
        .get(`/admin/order/` + this.$route.query.id)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    submitHandle(mode) {
      if (this.$route.query.type === "add") {
        //
      } else if (this.$route.query.type === "edit") {
        if (mode == "approve") {
          this.results.status = 1;
        } else if (mode == "tracking") {
          this.results.status = 2;
        } else if (mode == "cancle") {
          this.results.status = 3;
        }
        this.updateProduct();
      }
    },
    updateProduct() {
      // put /admin/order
      this.$axios
        .put(`/admin/order`, this.results)
        .then((response) => {
          if (response.data.success == "success") {
            alert("อัพเดทข้อมูลออเดอร์สำเร็จ");
            this.fetchData();
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "admin") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      if (this.$route.query.type == "edit") {
        this.fetchData();
      }
    } else {
      this.$router.push("/");
    }
  },
};
</script>