<template>
  <div class="pa-4">
    <v-container fluid>
      <v-row>
        <v-col>
          <h3 class="ci-brown--text">คำสั่งซื้อทั้งหมด</h3>
        </v-col>
        <v-col align="right">
          <!-- <v-btn color="ci-orange white--text" @click="addOrderHandle()">
            สร้างใบสั่งซื้อ
          </v-btn> -->
        </v-col>
      </v-row>
      <v-row v-if="results != null">
        <v-col>
          <v-data-table
            :headers="headers"
            :items="results"
            hide-default-footer
            @click:row="rowclick"
          >
            <template v-slot:item.status="{ item }">
              <v-chip
                color="ci-orange"
                class="white--text"
                label
                v-if="item.status == 0"
              >
                ต้องตรวจสอบยอดโอน
              </v-chip>
              <v-chip
                color="ci-purple"
                class="white--text"
                label
                v-if="item.status == 1"
              >
                ต้องจัดส่ง
              </v-chip>
              <v-chip
                color="ci-green"
                class="white--text"
                label
                v-if="item.status == 2"
              >
                ส่งแล้ว
              </v-chip>
              <v-chip
                color="ci-grey-lt1"
                class="white--text"
                label
                v-if="item.status == 3"
              >
                ยกเลิก
              </v-chip>
            </template>
            <!-- <template v-slot:item.tracking="{ item }">
              <div v-if="item.tracking == null">-</div>
              <div v-else>
                {{ item.tracking }}
              </div>
            </template> -->
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      results: null,
      headers: [
        { text: "วันที่ เวลา", value: "date_create" },
        { text: "เลขที่คำสั่งซื้อ", value: "order_id" },
        { text: "ยอดชำระ", value: "amount", align: "center" },
        { text: "เลขพัสดุ", value: "tracking" },
        { text: "สถานะ", value: "status", align: "center" },
      ],
    };
  },
  methods: {
    fetchData() {
      // /admin/order
      this.$axios
        .get(`/admin/order`)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    addOrderHandle() {
      this.$router.push(`/admin/order/detail?type=add`);
    },
    rowclick(item) {
      // console.log(item);
      this.$router.push(`/admin/order/detail?type=edit&id=${item.id}`);
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "admin") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.fetchData();
    } else {
      this.$router.push("/");
    }
  },
};
</script>