<template>
  <div>
    <v-card elevation="0">
      <v-img
        :src="getImage(data.img_url)"
        max-width="480"
        max-height="270"
      ></v-img>
      <v-container fluid>
        <v-row>
          <v-col>
            {{ data.name }}
          </v-col>
        </v-row>
        <!-- <v-row>
          <v-col>
            <div v-html="data.detail"></div>
          </v-col>
        </v-row> -->
        <v-row>
          <v-btn text color="ci-orange" @click="itemClickHandle(data.id)">
            <u> อ่านต่อ </u>
          </v-btn>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
export default {
  props: ["data"],
  methods: {
    itemClickHandle(id) {
      // this.$router.push(`/article/detail/${id}`);
      this.$router.push(
        {
          path: `/article/detail/${id}`,
          force: true,
        },
        () => {
          this.$router.go(0);
        }
      );
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
  },
};
</script>