<template>
  <div>
    <v-card elevation="0" outlined @click="itemClickHandle(data)">
      <v-img :src="getImage(data.img_url)" contain></v-img>
      <!-- <v-container fluid>
        <v-row no-gutters>
          <v-col> </v-col>
        </v-row>
      </v-container> -->
      <div class="pa-2">
        <div class="my-2 font-12 text-subtitle-1 ci-grey--text">
          SKU: {{ data.sku }}
        </div>
        <div class="prodname1">
          {{ data.name }}
        </div>
        <div class="mt-5 ci-orange--text" v-if="data.member_price != null">
          สมาชิก <b> ฿{{ data.member_price }}</b>
        </div>
        <div class="mt-2">ราคาปลีก ฿ {{ data.retail_price }}</div>
      </div>
    </v-card>
  </div>
</template>

<style scoped>
.fixh {
  height: 48px;
}

.prodname {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /*number of lines to show*/
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.prodname1 {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
</style>

<script>
export default {
  props: ["data"],
  data() {
    return {
      st: 0,
    };
  },
  methods: {
    itemClickHandle(data) {
      this.$router.push(`/product/${data.id}`);
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
  },
};
</script>