<template>
  <div>
    <v-container v-if="results != null" class="mt-10">
      <v-row>
        <!-- left -->
        <v-col>
          <v-img :src="getImage(results.img_url)"></v-img>
        </v-col>
        <v-col cols="1" v-if="!$vuetify.breakpoint.mobileBreakpoint"></v-col>
        <!-- right -->
        <v-col>
          <v-row>
            <v-col class="py-0"> SKU: {{ results.sku }} </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0">
              <h3 class="ci-brown--text">{{ results.name }}</h3>
            </v-col>
          </v-row>

          <v-row class="mt-10">
            <v-col>
              <b class="ci-brown--text">
                ราคาปลีก ฿ {{ results.retail_price }}
              </b>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0">
              <b class="ci-orange--text"> ราคาสมาชิก </b>
            </v-col>
          </v-row>
          <v-row v-if="results.step != null">
            <v-col class="ci-orange--text">
              <v-row
                v-for="(item, index) in results.step"
                :key="index"
                no-gutters
              >
                <v-col class="pb-1 pl-1">
                  <v-sheet
                    color="#F8F8F8"
                    width="100%"
                    height="100%"
                    class="pa-3"
                  >
                    <b class="ci-orange--text"> {{ item.qty }} ชิ้น </b>
                  </v-sheet>
                </v-col>
                <v-col class="pb-1 pl-1">
                  <v-sheet
                    color="#F8F8F8"
                    width="100%"
                    height="100%"
                    class="pa-3"
                  >
                    <b class="ci-orange--text"> ฿ {{ item.price }} </b>
                  </v-sheet>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col> </v-col>
          </v-row>

          <v-row align="center">
            <v-col class="d-flex align-center">
              <div class="px-4">จำนวน</div>
              <v-card outlined class="rounded-pill pa-3" min-width="150">
                <div class="d-flex justify-space-between align-center">
                  <div>
                    <v-btn icon @click="minusHandle()">
                      <b class="font-20"> - </b>
                    </v-btn>
                  </div>
                  <div>
                    {{ form.qty }}
                  </div>
                  <div>
                    <v-btn icon @click="plusHandle()">
                      <b class="font-20"> + </b>
                    </v-btn>
                  </div>
                </div>
              </v-card>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-card elevation="0" color="#F8F8F8">
                <v-container>
                  <div class="d-flex">
                    <v-avatar tile size="24">
                      <v-img src="/images/file-powerpoint-box.png"></v-img>
                    </v-avatar>
                    <span class="ci-brown--text font-weight-light">
                      ซื้อสินค้าชิ้นนี้ รับไปเลย {{ results.point }} Points
                    </span>
                  </div>
                </v-container>
              </v-card>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-btn
                block
                color="ci-orange"
                class="white--text"
                @click="putToCart"
                large
              >
                เพิ่มใส่ตะกร้า
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <h3 class="ci-brown--text">รายละเอียดสินค้า</h3>
          <v-row>
            <v-col>
              <div v-html="results.detail"></div>
              <input type="hidden" id="copy-reflink" :value="detailToCopy" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row class="justify-center">
        <div>
          <v-btn outlined color="ci-orange" @click="copyDetail()">
            <b> คัดลอกรายละเอียดสินค้า </b>
          </v-btn>
        </div>
      </v-row>

      <v-row v-if="results.member_detail != null">
        <v-col>
          <h3 class="ci-brown--text">(สมาชิก) รายละเอียดสินค้า</h3>
          <v-row>
            <v-col>
              <div v-html="results.member_detail">
                <!-- {{ results.member_detail }} -->
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row class="my-15">
        <v-col>
          <h3 class="ci-brown--text my-5">รูปภาพเพิ่มเติม</h3>
          <v-row>
            <v-col
              cols="12"
              md="4"
              v-for="(item, mindex) in results.img_group"
              :key="mindex"
            >
              <v-img
                :src="getImage(item.img_url)"
                class="pointer"
                width="100%"
                max-height="250"
                contain
                @click="openImgDialog(item, mindex)"
              ></v-img>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog
      v-model="imgDialog"
      max-width="550"
      transition="slide-y-reverse-transition"
    >
      <v-card class="pa-5">
        <v-container fluid>
          <v-row>
            <v-col>
              <v-img :src="getImage(imToShow)" contain></v-img>
            </v-col>
          </v-row>
          <v-row justify="center">
            <div class="pa-2">
              <v-btn
                outlined
                block
                color="ci-orange"
                @click="downloadImgHandle()"
              >
                ดาวน์โหลดรูปสินค้า
              </v-btn>
            </div>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  async asyncData({ route, $http }) {
    const post = await $http.$get(
      `https://77market.co/API/product/${route.params.id}`
    );
    console.log(post);
    return { post };
  },
  data() {
    return {
      results: null,

      imToShow: "",
      imToShowIndex: 0,
      imgDialog: false,
      detailToCopy: "",
      form: {
        id: 0,
        qty: 1,
      },
    };
  },
  methods: {
    fetchData() {
      // product/:id
      this.$axios
        .get(`/product/` + this.$route.params.id)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
            this.form.id = this.$route.params.id;
            this.trimHTMLtag();
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    trimHTMLtag() {
      this.detailToCopy = this.results.detail.replace(/(<([^>]+)>)/gi, "");
    },
    HTMLtrim(content) {
      return content.replace(/(<([^>]+)>)/gi, "");
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
    minusHandle() {
      if (this.form.qty <= 1) {
        return;
      } else {
        this.form.qty -= 1;
      }
    },
    plusHandle() {
      this.form.qty += 1;
    },
    putToCart() {
      // /user/cart
      this.$axios
        .post(`/user/cart`, this.form)
        .then((response) => {
          if (response.data.success == "success") {
            alert("เพิ่มสินค้าลงตะกร้าสำเร็จ");
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    openImgDialog(item, mindex) {
      this.imToShow = item.img_url;
      this.imToShowIndex = mindex;
      this.imgDialog = true;
    },
    downloadImgHandle() {
      this.$axios({
        url: `${process.env.SERVER_URL}/image/${this.imToShow}`,
        method: "GET",
        responseType: "blob",
      }).then((response) => {
        var fileURL = window.URL.createObjectURL(new Blob([response.data]));
        var fileLink = document.createElement("a");

        fileLink.href = fileURL;
        fileLink.setAttribute(
          "download",
          this.results.name + " - " + (this.imToShowIndex + 1) + ".png"
        );
        document.body.appendChild(fileLink);

        fileLink.click();
      });
    },
    copyDetail() {
      let testingCodeToCopy = document.querySelector("#copy-reflink");
      testingCodeToCopy.setAttribute("type", "text");
      testingCodeToCopy.select();

      try {
        var successful = document.execCommand("copy");
        var msg = successful ? "successful" : "unsuccessful";
        alert("คัดลอกสำเร็จ");
      } catch (err) {
        alert("เกิดปัญหาบางอย่าง กรุณาลองอีกครั้งหรือคัดลอกด้วยตนเอง");
      }

      /* unselect the range */
      testingCodeToCopy.setAttribute("type", "hidden");
      window.getSelection().removeAllRanges();
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "user") {
      this.$axios.setHeader(
        "Authorization",
        this.$cookies.get("token") || null
      );
    }
    this.fetchData();
  },
  head() {
    return {
      title: "77Market",
      meta: [
        {
          name: "77Market",
          content:
            "77Market - ส่งของดีและสดใหม่ จากร้านค้าชื่อดังทั่วทั้ง 77 จังหวัด ตรงถึงหน้าบ้านคุณ",
        },
        {
          name: "keywords",
          content: "77Market",
        },
        {
          property: "og:url",
          content: `https://77Market.co/product/${this.$route.params.id}`,
        },
        {
          property: "og:title",
          content: this.post.message.name,
        },
        {
          property: "og:description",
          content: this.HTMLtrim(this.post.message.detail),
        },
        {
          property: "og:image",
          content:
            process.env.SERVER_URL + "/image/" + this.post.message.img_url,
        },
      ],
      link: [
        {
          rel: "77Market",
          href: "https://77Market.co",
        },
      ],
    };
  },
};
</script>