<template>
  <div>
    <v-container class="py-15">
      <v-row>
        <v-col> <h3 class="ci-brown--text">ตะกร้าสินค้า</h3> </v-col>
      </v-row>

      <!-- ads 1 -->
      <v-row>
        <v-col>
          <v-sheet
            color="ci-brown"
            width="100%"
            class="d-flex align-center rounded pa-3"
          >
            <div class="white--text">
              ซื้อสินค้าในราคาสมาชิก เพียงสมัครเป็นตัวแทนจำหน่ายกับเรา
            </div>
            <v-spacer></v-spacer>
            <div>
              <v-btn
                class="white--text rounded-pill"
                color="ci-orange"
                @click="toDealer"
              >
                สมัครที่นี่
              </v-btn>
            </div>
          </v-sheet>
        </v-col>
      </v-row>

      <!-- product list -->
      <div v-if="results != null">
        <div v-if="results.product.length > 0">
          <v-row
            class="align-center justify-space-between"
            v-for="(item, index) in results.product"
            :key="index"
          >
            <v-col cols="12" md="4">
              <!-- img & name -->
              <div class="d-flex">
                <!-- :src="getImage(path)" -->
                <v-img
                  :src="getImage(item.img_url)"
                  max-height="100"
                  max-width="100"
                  contain
                ></v-img>
                <div>
                  <div class="ci-brown--text">
                    <b> {{ item.name }} </b>
                  </div>
                  <div class="text--secondary font-12">SKU: {{ item.sku }}</div>
                  <div class="mt-5">
                    <v-chip color="ci-orange" outlined>
                      ได้รับ {{ item.point }} point
                    </v-chip>
                  </div>
                </div>
              </div>
            </v-col>

            <v-col
              cols="12"
              md="4"
              :align="$vuetify.breakpoint.xs ? 'left' : 'center'"
            >
              <v-card outlined class="rounded-pill pa-3" width="150">
                <div class="d-flex justify-space-between align-center">
                  <div>
                    <v-btn icon @click="updateCart(item, '-')">
                      <b class="font-20"> - </b>
                    </v-btn>
                  </div>
                  <div>
                    {{ item.qty }}
                  </div>
                  <div>
                    <v-btn icon @click="updateCart(item, '+')">
                      <b class="font-20"> + </b>
                    </v-btn>
                  </div>
                </div>
              </v-card>
            </v-col>

            <v-col cols="12" md="4" align="right">
              <v-row>
                <v-col cols="12" md="6" align="left">
                  <div class="ci-brown--text">
                    <b>
                      ฿
                      {{
                        parseFloat(item.price).toLocaleString(undefined, {
                          minimumFractionDigits: 2,
                          maximumFractionDigits: 2,
                        })
                      }}
                    </b>
                  </div>
                  <div>
                    <v-chip label>ราคาปลีก</v-chip>
                    <v-chip v-show="false"></v-chip>
                  </div>
                </v-col>
                <v-col
                  cols="12"
                  md="6"
                  :align="$vuetify.breakpoint.xs ? 'left' : ''"
                >
                  <v-btn text color="ci-brown" @click="delProdHandle(item)">
                    <u> เอาออก </u>
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </div>

        <!-- no product in cart -->
        <v-row justify="center" v-else>
          <v-col cols="12" md="4" align="center" class="px-0">
            <div>
              <v-img
                src="/images/all.png"
                max-height="150"
                max-width="150"
                contain
              >
              </v-img>
            </div>
            <div class="ci-brown--text py-6">
              <b> ยังไม่มีรายการสั่งซื้อ </b>
            </div>
            <div>
              <v-btn
                outlined
                color="ci-orange"
                rounded
                @click="$router.push('/')"
              >
                เริ่มช้อปสินค้า
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </div>

      <v-divider class="my-10"></v-divider>

      <!-- total -->
      <v-row justify="end" v-if="results != null">
        <v-col>
          <v-row justify="end">
            <v-col cols="6" md="3" align="right" class="py-1">
              <b class="ci-brown--text"> 77 Market Points </b>
            </v-col>
            <v-col cols="6" md="3" align="right" class="py-1">
              <b class="ci-brown--text"> {{ results.point }} </b>
            </v-col>
          </v-row>
          <v-row justify="end">
            <v-col cols="6" md="3" align="right" class="py-1">
              <b class="ci-brown--text"> ค่าสินค้า </b>
            </v-col>
            <v-col cols="6" md="3" align="right" class="py-1">
              <b class="ci-brown--text">
                ฿
                {{
                  parseFloat(results.price).toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                  })
                }}
              </b>
            </v-col>
          </v-row>
          <v-row justify="end">
            <v-col cols="6" md="3" align="right" class="py-1">
              <b class="ci-brown--text"> ค่าจัดส่ง </b>
            </v-col>
            <v-col cols="6" md="3" align="right" class="py-1">
              <b class="ci-brown--text">
                ฿
                {{
                  parseFloat(results.delivery).toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                  })
                }}
              </b>
            </v-col>
          </v-row>
          <v-row justify="end">
            <v-col cols="6" md="3" align="right" class="py-1">
              <b class="ci-brown--text font-20"> ทั้งหมด </b>
            </v-col>
            <v-col cols="6" md="3" align="right" class="py-1">
              <b class="ci-orange--text font-20">
                ฿
                {{
                  parseFloat(results.total).toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                  })
                }}
              </b>
            </v-col>
          </v-row>
          <v-row justify="end" class="my-6">
            <v-col cols="12" md="4">
              <v-btn
                block
                color="ci-orange"
                class="white--text"
                large
                @click="toOrder"
                :disabled="results.product.length < 1"
              >
                ยืนยันการสั่งซื้อ
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <!-- ads 2 -->
      <v-row>
        <v-col>
          <v-sheet
            color="ci-brown"
            width="100%"
            class="d-flex align-center rounded pa-3"
          >
            <div class="white--text">
              ซื้อสินค้าในราคาสมาชิก เพียงสมัครเป็นตัวแทนจำหน่ายกับเรา
            </div>
            <v-spacer></v-spacer>
            <div>
              <v-btn
                class="white--text rounded-pill"
                color="ci-orange"
                @click="toDealer"
              >
                สมัครที่นี่
              </v-btn>
            </div>
          </v-sheet>
        </v-col>
      </v-row>

      <!-- <v-row>
        <v-col align="center">
          <h3 class="ci-brown--text">สินค้าแนะนำ</h3>
        </v-col>
      </v-row> -->

      <!-- <v-row>
        <v-col> product-card </v-col>
      </v-row>

      <div>banner</div> -->
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      //
      amount: 1,
      results: null,
    };
  },
  methods: {
    fetchData() {
      // /user/cart
      this.$axios
        .get(`/user/cart`)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    updateCart(item, type) {
      let form = {
        id: item.id,
        qty: 0,
      };

      if (type === "-") {
        form.qty = -1;
      } else if (type === "+") {
        form.qty = 1;
      }

      this.$axios
        .post(`/user/cart`, form)
        .then((response) => {
          if (response.data.success == "success") {
            this.fetchData();
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    delProdHandle(item) {
      let form = {
        id: item.id,
        qty: -item.qty,
      };

      this.$axios
        .post(`/user/cart`, form)
        .then((response) => {
          if (response.data.success == "success") {
            this.fetchData();
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
    toOrder() {
      //
      this.$router.push("/order");
    },
    toDealer() {
      this.$router.push("/dealer");
    },
  },
  beforeMount() {
    if (this.$cookies.get("token")) {
      this.fetchData();
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
    } else {
      this.$router.push("/login");
    }
  },
};
</script>