<template>
  <div>
    <v-container class="py-8">
      <v-row>
        <!-- left -->
        <v-col cols="12" md="9" v-if="results != null">
          <!-- <div>date</div> -->
          <div align="center" class="my-5">
            <h2 class="ci-brown--text">
              {{ results.detail.name }}
            </h2>
          </div>

          <v-row class="my-5">
            <v-col align="center">
              <v-img
                :src="getImage(results.detail.img_url)"
                max-height="300"
                max-width="600"
                contain
              >
              </v-img>
            </v-col>
          </v-row>

          <div class="mt-5 px-8" v-html="results.detail.detail"></div>
        </v-col>

        <!-- right -->
        <v-col cols="12" md="3" v-if="results != null">
          <div class="mb-3">
            <h3 class="ci-brown--text">บทความอัพเดท</h3>
          </div>
          <v-row v-for="(item, index) in results.other" :key="index">
            <v-col>
              <article-card :data="item" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  async asyncData({ route, $http }) {
    const post = await $http.$get(
      `https://77market.co/API/article/${route.params.id}`
    );
    console.log(post);
    return { post };
  },
  data() {
    return {
      results: null,
    };
  },
  methods: {
    //
    fetchData() {
      // get /article/:id
      // /article
      this.$axios
        .get(`/article/` + this.$route.params.id)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
    HTMLtrim(content) {
      return content.replace(/(<([^>]+)>)/gi, "");
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "user") {
      this.$axios.setHeader(
        "Authorization",
        this.$cookies.get("token") || null
      );
    }
    this.fetchData();
  },
  head() {
    return {
      title: "77Market",
      meta: [
        {
          name: "77Market",
          content:
            "77Market - ส่งของดีและสดใหม่ จากร้านค้าชื่อดังทั่วทั้ง 77 จังหวัด ตรงถึงหน้าบ้านคุณ",
        },
        {
          name: "keywords",
          content: "77Market",
        },
        {
          property: "og:url",
          content: `https://77Market.co/article/detail/${this.$route.params.id}`,
        },
        {
          property: "og:title",
          content: this.post.message.detail.name,
        },
        {
          property: "og:description",
          content: this.HTMLtrim(this.post.message.detail.detail),
        },
        {
          property: "og:image",
          content:
            process.env.SERVER_URL +
            "/image/" +
            this.post.message.detail.img_url,
        },
      ],
      link: [
        {
          rel: "77Market",
          href: "https://77Market.co",
        },
      ],
    };
  },
};
</script>