<template>
  <div>
    <v-container class="py-8" v-if="results != null">
      <v-row>
        <v-col>
          <h3 class="ci-brown--text">รายละเอียดคำสั่งซื้อ</h3>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-card elevation="0" color="ci-grey-lt3">
            <v-container>
              <v-row>
                <v-col>
                  <b> เลขที่คำสั่งซื้อ: {{ results.order_id }} </b>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  ยอดชำระ:
                  <b>
                    ฿
                    {{
                      parseFloat(results.amount).toLocaleString(undefined, {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2,
                      })
                    }}
                  </b>
                </v-col>
              </v-row>
              <v-row>
                <v-col> วันที่สั่งซื้อ: {{ results.date_create }}</v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <h3 class="ci-brown--text">
            สถานะ:
            <span class="ci-orange--text">
              {{ getStatusText(results.status) }}
            </span>
            <span class="ci-orange--text" v-if="results.status == 2">
              (เลขพัสดุ {{ results.tracking }})
            </span>
          </h3>
        </v-col>
      </v-row>

      <v-row>
        <!-- left -->
        <v-col cols="12" md="6">
          <h3 class="ci-brown--text py-3">ที่อยู่จัดส่ง</h3>
          <v-row>
            <v-col>
              <v-card elevation="0" color="ci-grey-lt3">
                <v-container>
                  <v-row>
                    <v-col>{{ results.name }}</v-col>
                  </v-row>
                  <v-row>
                    <v-col>{{ results.tel }}</v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      {{ results.address }} {{ results.sub_district }}
                      {{ results.district }} {{ results.province }}
                      {{ results.postcode }}
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-col>

        <!-- right -->
        <v-col cols="12" md="6">
          <h3 class="ci-brown--text py-3">รายการสั่งซื้อ</h3>
          <div v-if="results != null">
            <v-row v-for="(item, index) in results.detail.product" :key="index">
              <v-col cols="12" md="6">
                <div class="d-flex">
                  <!-- :src="getImage(path)" -->
                  <v-img
                    :src="getImage(item.img_url)"
                    max-height="100"
                    max-width="100"
                    contain
                  ></v-img>
                  <div>
                    <div class="ci-brown--text">
                      <b> {{ item.name }} </b>
                    </div>
                    <div class="text--secondary font-12">
                      SKU: {{ item.sku }}
                    </div>
                    <!-- <div class="mt-5">
                        <v-chip color="ci-orange" outlined>
                          ได้รับ 10 point
                        </v-chip>
                      </div> -->
                  </div>
                </div>
              </v-col>
              <v-col align="center" cols="6" md="3"> x {{ item.qty }} </v-col>
              <v-col align="right" cols="6" md="3">
                <div class="ci-brown--text">
                  <b>
                    ฿
                    {{
                      parseFloat(item.price).toLocaleString(undefined, {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2,
                      })
                    }}
                  </b>
                </div>
              </v-col>
            </v-row>

            <v-divider class="my-8 t-divider"></v-divider>

            <v-row justify="end">
              <v-col>
                <v-row justify="end">
                  <v-col cols="6" align="right" class="py-1">
                    <b class="ci-brown--text"> 77 Market Points </b>
                  </v-col>
                  <v-col cols="6" md="3" align="right" class="py-1">
                    <b class="ci-brown--text"> {{ results.detail.point }} </b>
                  </v-col>
                </v-row>
                <v-row justify="end">
                  <v-col cols="6" md="3" align="right" class="py-1">
                    <b class="ci-brown--text"> ค่าสินค้า </b>
                  </v-col>
                  <v-col cols="6" md="3" align="right" class="py-1">
                    <b class="ci-brown--text">
                      ฿
                      {{
                        parseFloat(results.detail.price).toLocaleString(
                          undefined,
                          {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2,
                          }
                        )
                      }}
                    </b>
                  </v-col>
                </v-row>
                <v-row justify="end">
                  <v-col cols="6" md="3" align="right" class="py-1">
                    <b class="ci-brown--text"> ค่าจัดส่ง </b>
                  </v-col>
                  <v-col cols="6" md="3" align="right" class="py-1">
                    <b class="ci-brown--text">
                      ฿
                      {{
                        parseFloat(results.detail.delivery).toLocaleString(
                          undefined,
                          {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2,
                          }
                        )
                      }}
                    </b>
                  </v-col>
                </v-row>
                <v-row justify="end">
                  <v-col cols="6" md="4" align="right" class="py-1">
                    <b class="ci-brown--text font-20"> ทั้งหมด </b>
                  </v-col>
                  <v-col cols="6" md="3" align="right" class="py-1">
                    <b class="ci-orange--text font-20">
                      ฿
                      {{
                        parseFloat(results.detail.total).toLocaleString(
                          undefined,
                          {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2,
                          }
                        )
                      }}
                    </b>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      results: null,
    };
  },
  methods: {
    fetchData() {
      this.$axios
        .get(`/user/history/` + this.$route.query.id)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    getStatusText(status) {
      switch (status) {
        case 0:
          return "รอตรวจสอบยอดโอน";
        case 1:
          return "รอจัดส่ง";
        case 2:
          return "จัดส่งแล้ว";
        case 3:
          return "ออเดอร์ถูกยกเลิก";
        default:
          break;
      }
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "user") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.fetchData();
    } else {
      this.$router.push("/");
    }
  },
};
</script>