<template>
  <div>
    <v-container class="py-8">
      <v-row class="mb-10">
        <v-col>
          <h3 class="ci-brown--text">ประวัติการสั่งซื้อ</h3>
        </v-col>
      </v-row>

      <!-- non blank -->
      <!-- list rendering -->
      <div v-if="results != null">
        <div v-if="results.length > 0">
          <div v-for="(item, index) in results" :key="index">
            <v-row>
              <v-col>
                <div>
                  <b class="ci-brown--text">
                    เลขที่คำสั่งซื้อ : {{ item.order_id }}
                  </b>
                </div>
                <div>
                  <b class="ci-orange--text">
                    {{ getStatusText(item.status) }}
                  </b>
                  <span v-if="item.status == 2" class="ci-orange--text">
                    <b> (เลขพัสดุ {{ item.tracking }} ) </b>
                  </span>
                </div>
              </v-col>
              <v-col>
                <div class="ci-grey--text">
                  <b> {{ item.date_create }} </b>
                </div>
              </v-col>
              <v-col
                :align="$vuetify.breakpoint.xs ? 'left' : 'right'"
                cols="12"
                sm="4"
              >
                <v-btn
                  color="ci-orange"
                  class="white--text"
                  rounded
                  @click="toOrderDetail(item.id)"
                >
                  รายละเอียด
                </v-btn>
              </v-col>
            </v-row>
            <v-divider class="my-4"></v-divider>
          </div>
        </div>

        <div v-else>
          <!-- blank -->
          <v-row justify="center">
            <v-col cols="12" md="4" align="center" class="px-0">
              <div>
                <v-img
                  src="/images/all.png"
                  max-height="150"
                  max-width="150"
                  contain
                >
                </v-img>
              </div>
              <div class="ci-brown--text py-6">
                <b> ยังไม่มีรายการสั่งซื้อ </b>
              </div>
              <div>
                <v-btn
                  outlined
                  color="ci-orange"
                  rounded
                  @click="$router.push('/')"
                >
                  เริ่มช้อปสินค้า
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      results: null,
    };
  },
  methods: {
    fetchData() {
      // user/history
      this.$axios
        .get(`/user/history`)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    toOrderDetail(id) {
      this.$router.push(`/profile/history/detail?id=${id}`);
    },
    getStatusText(status) {
      switch (status) {
        case 0:
          return "รอตรวจสอบยอดโอน";
        case 1:
          return "รอจัดส่ง";
        case 2:
          return "จัดส่งแล้ว";
        case 3:
          return "ออเดอร์ถูกยกเลิก";
        default:
          break;
      }
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "user") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.fetchData();
    } else {
      this.$router.push("/");
    }
  },
};
</script>