// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@font-face {
  font-family: "Krub";
  font-weight: 200;
  src: url("~assets/font/Krub-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Krub";
  font-weight: 200;
  font-style: italic;
  src: url("~assets/font/Krub-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Krub";
  font-weight: 400;
  src: url("~assets/font/Krub-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Krub";
  font-weight: 400;
  font-style: italic;
  src: url("~assets/font/Krub-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Krub";
  font-weight: 900;
  src: url("~assets/font/Krub-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Krub";
  font-weight: 900;
  font-style: italic;
  src: url("~assets/font/Krub-BoldItalic.ttf") format("truetype");
}

$body-font-family: "Krub";
$heading-font-family: "Krub";
$font-size-root: 16px;

@import "~vuetify/src/styles/styles.sass";
