<template>
  <div>
    <div hidden>
      <input
        type="file"
        id="fileUpload"
        ref="file"
        hidden
        v-on:change="upload()"
        accept="image/*"
      />
    </div>
    <v-container fluid class="pa-6">
      <v-row>
        <v-col>
          <h2>ข้อมูลสินค้า</h2>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <h4>ขั้นตอนที่ 1 | รายละเอียดสินค้า</h4>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          หมวดหมู่
          <v-select
            v-model="form.cate_id"
            outlined
            dense
            placeholder="เลือกหมวดหมู่"
            :items="cateList"
            item-text="name"
            item-value="id"
          ></v-select>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          รหัส SKU
          <v-text-field
            v-model="form.sku"
            outlined
            dense
            placeholder="รหัส SKU"
            readonly
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          ชื่อสินค้า
          <v-text-field
            v-model="form.name"
            outlined
            dense
            placeholder="ชื่อสินค้า"
            :rules="requireRules"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          คะแนน
          <v-text-field
            v-model="form.point"
            outlined
            dense
            placeholder="คะแนน"
            :rules="numberRules"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          รายละเอียดสินค้า
          <v-textarea
            v-model="form.detail"
            outlined
            no-resize
            rows="5"
            placeholder="พิมพ์ตรงนี้"
          ></v-textarea>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          โน๊ตเพิ่มเติมให้ตัวแทน (ถ้ามี)
          <v-textarea
            v-model="form.member_detail"
            outlined
            no-resize
            rows="3"
            placeholder="พิมพ์ตรงนี้"
          ></v-textarea>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div>อัพโหลดรูปปกสินค้า</div>
          <v-btn
            large
            color="ci-blue"
            class="white--text"
            @click="uploadClick(1)"
          >
            <v-icon>mdi-image</v-icon>
            อัพโหลดรูปปก
          </v-btn>
        </v-col>
      </v-row>
      <!-- cover show -->
      <v-row>
        <v-col>
          <v-img
            :src="getImage(form.img_url)"
            height="200"
            max-width="200"
            contain
          ></v-img>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div>อัพโหลดรูปภาพสินค้า</div>
          <div class="ci-grey--text">
            คุณสามารถอัพโหลดได้หลายรูปภาพ (แนะนำขนาดรูปภาพ 350x350 px)
          </div>
          <v-btn
            large
            color="ci-blue"
            class="white--text"
            @click="uploadClick(2)"
          >
            <v-icon>mdi-image</v-icon>
            อัพโหลดรูปภาพ</v-btn
          >
        </v-col>
      </v-row>
      <!-- img show -->
      <v-row>
        <v-col
          cols="2"
          v-for="(item, index) in form.img_group"
          :key="index"
          align="center"
        >
          <v-img
            :src="getImage(item.img_url)"
            height="200"
            max-width="200"
            contain
          ></v-img>
          <div>
            <v-icon
              class="pointer ci-red--text"
              @click="delImgGroupHandle(index)"
              >mdi-close-thick</v-icon
            >
          </div>
        </v-col>
      </v-row>

      <v-divider class="my-8"></v-divider>

      <v-row>
        <v-col>
          <h4>ขั้นตอนที่ 2 | กำหนดช่วงราคา</h4>
        </v-col>
      </v-row>

      <v-row align="center">
        <v-col cols="2"><b> ราคาปลีก </b></v-col>
        <v-col cols="3">
          ราคาปลีก
          <v-text-field
            v-model="form.retail_price"
            outlined
            dense
            placeholder="0.00"
            :rules="decimalRules"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="1" class="mt-8"><b> ราคาสมาชิก </b></v-col>
        <v-col>
          <v-row align="center" v-for="(item, index) in form.step" :key="index">
            <v-col cols="2"> ช่วงราคาที่ {{ index + 1 }}</v-col>
            <v-col cols="4">
              จำนวนชิ้น
              <v-text-field
                v-model="item.qty"
                outlined
                dense
                placeholder="จำนวน"
                :rules="numberRules"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              บวกราคาเพิ่ม (บาท/ชิ้น)
              <v-text-field
                v-model="item.price"
                outlined
                dense
                placeholder="0.00"
                :rules="decimalRules"
              ></v-text-field>
            </v-col>
            <v-col v-if="index != 0">
              <v-btn icon class="ci-red--text" @click="delStepHandle(index)">
                <v-icon>mdi-close-thick</v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="10">
              <v-btn class="dashbtn" block @click="addStepHandle()">
                <v-icon>mdi-plus-circle-outline</v-icon>
                เพิ่มช่วงราคา</v-btn
              >
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-divider class="my-8"></v-divider>

      <v-row class="mb-5">
        <v-col>
          <v-btn
            color="ci-orange"
            class="white--text"
            large
            @click="submitHandle()"
          >
            บันทึก
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.dashbtn {
  background-color: white !important;
  border: 2px dashed #000;
}
</style>

<script>
export default {
  data() {
    return {
      form: {
        cate_id: null,
        img_url: "",
        name: "",
        retail_price: null,
        step: [
          {
            qty: null,
            price: "",
          },
        ],
        point: null,
        detail: "",
        member_detail: "",
        img_group: [],
      },
      cateList: [],
      requireRules: [(v) => !!v || "กรุณาใส่ข้อมูลให้ครบถ้วน"],
      decimalRules: [
        (v) => !!v || "กรุณากรอกข้อมูลให้ครบถ้วน",
        (v) => /^\d*\.?\d*$/.test(v) || "กรุณาตรวจสอบค่าอีกครั้ง",
      ],
      numberRules: [
        (v) => !!v || "กรุณากรอกข้อมูลให้ครบถ้วน",
        (v) => v != 0 || "กรุณาตรวจสอบค่าอีกครั้ง",
        (v) => /^[-+]?[0-9]+$/.test(v) || "กรุณาตรวจสอบค่าอีกครั้ง",
      ],
    };
  },
  methods: {
    fetchData() {
      // /admin/product
      this.$axios
        .get(`/admin/product/` + this.$route.query.id)
        .then((response) => {
          if (response.data.success == "success") {
            this.form = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    fetchCategory() {
      // /admin/category
      this.$axios
        .get(`/admin/category`)
        .then((response) => {
          if (response.data.success == "success") {
            this.cateList = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    addProdHandle() {
      this.$router.push(`/admin/product/detail?type=add`);
    },
    addStepHandle() {
      this.form.step.push({ qty: null, price: "" });
    },
    delStepHandle(index) {
      this.form.step.splice(index, 1);
    },
    submitHandle() {
      if (this.$route.query.type == "add") {
        // post
        this.$axios
          .post(`/admin/product`, this.form)
          .then((response) => {
            if (response.data.success == "success") {
              alert("เพิ่มสินค้าสำเร็จ");
              this.$router.push("/admin/product");
            } else {
              alert(
                response.data.message_th ||
                  "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
              );
            }
          })
          .catch((error) => {
            console.log(error.response);
          });
      } else if (this.$route.query.type == "edit") {
        // put
        this.$axios
          .put(`/admin/product`, this.form)
          .then((response) => {
            if (response.data.success == "success") {
              alert("แก้ไขสินค้าสำเร็จ");
              this.$router.push("/admin/product");
            } else {
              alert(
                response.data.message_th ||
                  "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
              );
            }
          })
          .catch((error) => {
            console.log(error.response);
          });
      }
    },
    uploadClick(mode) {
      this.img_index = mode;
      document.getElementById("fileUpload").click();
    },
    upload() {
      let file = null;
      file = event.target.files[0];

      let fd = new FormData();
      fd.append("image", file);
      this.$axios.post("/upload/product", fd).then((response) => {
        if (response.data.success == "success") {
          if (this.img_index == 1) {
            this.form.img_url = response.data.path;
          } else if (this.img_index == 2) {
            this.form.img_group.push({ img_url: response.data.path });
          }
          document.getElementById("fileUpload").value = null;
        } else {
          alert(
            response.data.message_th ||
              "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
          );
        }
      });
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
    delImgGroupHandle(index) {
      this.form.img_group.splice(index, 1);
    },
  },
  beforeMount() {
    // check token
    if (this.$cookies.get("role") == "admin") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.fetchCategory();
      if (this.$route.query.type == "edit") {
        this.fetchData();
      }
    } else {
      this.$router.push("/");
    }
  },
};
</script>