<template>
  <div class="pa-4">
    <v-container fluid>
      <v-row>
        <v-col>
          <h3 class="ci-brown--text">สินค้าทั้งหมด</h3>
        </v-col>
        <v-col align="right">
          <v-btn color="ci-orange white--text" @click="addProdHandle()">
            เพิ่มสินค้า
          </v-btn>
        </v-col>
      </v-row>
      <v-row v-if="results != null">
        <v-col cols="2" v-for="(item, index) in results" :key="index">
          <admin-product-card :data="item" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      results: null,
    };
  },
  methods: {
    fetchData() {
      // /admin/product
      this.$axios
        .get(`/admin/product`)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    addProdHandle() {
      this.$router.push(`/admin/product/detail?type=add`);
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "admin") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.fetchData();
    } else {
      this.$router.push("/");
    }
  },
};
</script>