<template>
  <div>
    <v-app-bar color="ci-brown" fixed app height="112">
      <v-container fill-height>
        <!-- mobile -->
        <v-row v-if="$vuetify.breakpoint.xs || $vuetify.breakpoint.sm">
          <v-col cols="7">
            <v-menu offset-y v-if="$vuetify.breakpoint.xs">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="white--text"
                  color="ci-brown"
                  plain
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>mdi-menu</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="(item, index) in mobileMenuItems"
                  :key="index"
                  :to="item.to"
                >
                  <v-list-item-title>{{ item.text }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-col>

          <v-col cols="5" align="right">
            <span>
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon v-bind="attrs" v-on="on">
                    <v-icon class="white--text"> mdi-account-outline </v-icon>
                  </v-btn>
                </template>

                <!-- no auth -->
                <v-list v-if="!logged">
                  <v-list-item>
                    <v-list-item-title><b>สมาชิก</b></v-list-item-title>
                  </v-list-item>

                  <v-list-item
                    v-for="(item, index) in memberNoAuth"
                    :key="index"
                    class="pointer"
                    :to="item.to"
                  >
                    <v-list-item-title class="ci-grey--text">{{
                      item.text
                    }}</v-list-item-title>
                  </v-list-item>
                </v-list>

                <!-- authed -->
                <v-list v-else>
                  <v-list-item>
                    <v-list-item-title><b>สมาชิก</b></v-list-item-title>
                  </v-list-item>

                  <v-list-item
                    v-for="(item, index) in memberAuth"
                    :key="index"
                    class="pointer"
                    :to="item.to"
                  >
                    <v-list-item-title class="ci-grey--text">{{
                      item.text
                    }}</v-list-item-title>
                  </v-list-item>

                  <v-list-item @click="logout()">
                    <v-list-item-title class="ci-grey--text">
                      ลงชื่อออก
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </span>
            <v-btn icon @click="toCart">
              <span>
                <v-icon class="white--text"> mdi-cart-outline </v-icon>
              </span>
            </v-btn>
          </v-col>
        </v-row>

        <!-- desktop -->
        <v-row align="center" v-else>
          <v-col cols="3">
            <v-img
              src="/images/logo.png"
              width="90"
              contain
              class="pointer"
              @click="$router.push('/')"
            ></v-img>
          </v-col>

          <v-col cols="6">
            <div class="d-flex justify-space-between white--text">
              <div
                class="px-3 pointer"
                @click="$router.push('/')"
                :class="$route.path == '/' ? 'ci-orange--text' : ''"
              >
                หน้าแรก
              </div>
              <div
                class="px-3 pointer"
                @click="$router.push('/article')"
                :class="$route.path == '/article' ? 'ci-orange--text' : ''"
              >
                บทความ
              </div>
              <!-- <div class="px-3 pointer" @click="$router.push('/privilege')">
                สิทธิพิเศษ
              </div> -->
              <div class="px-3 pointer" @click="$router.push('/dealer')">
                สมัครเป็นตัวแทน
              </div>
            </div>
          </v-col>

          <v-col cols="3" align="right">
            <span>
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon v-bind="attrs" v-on="on">
                    <v-icon class="white--text"> mdi-account-outline </v-icon>
                  </v-btn>
                </template>

                <!-- no auth -->
                <v-list v-if="!logged">
                  <v-list-item>
                    <v-list-item-title><b>สมาชิก</b></v-list-item-title>
                  </v-list-item>

                  <v-list-item
                    v-for="(item, index) in memberNoAuth"
                    :key="index"
                    class="pointer"
                    :to="item.to"
                  >
                    <v-list-item-title class="ci-grey--text">{{
                      item.text
                    }}</v-list-item-title>
                  </v-list-item>
                </v-list>

                <!-- authed -->
                <v-list v-else>
                  <v-list-item>
                    <v-list-item-title><b>สมาชิก</b></v-list-item-title>
                  </v-list-item>

                  <v-list-item
                    v-for="(item, index) in memberAuth"
                    :key="index"
                    class="pointer"
                    :to="item.to"
                  >
                    <v-list-item-title class="ci-grey--text">{{
                      item.text
                    }}</v-list-item-title>
                  </v-list-item>

                  <v-list-item @click="logout">
                    <v-list-item-title class="ci-grey--text">
                      ลงชื่อออก
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </span>
            <v-btn icon @click="toCart">
              <span>
                <v-icon class="white--text"> mdi-cart-outline </v-icon>
              </span>
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>

    <nuxt-child style="min-height: 550px" />
    <!-- landing -->
    <!-- <div>
      <v-img src="/images/banner.png"></v-img>
    </div>
    <div class="mt-5">
      <h2>สร้างโอกาส สร้างรายได้</h2>
    </div>
    <div class="mt-3">
      <h1>สมัครขายสินค้ากับเราได้แล้ววันนี้</h1>
    </div>

    <div class="mt-5 mb-10">
      <v-btn rounded color="#FF661C" x-large class="px-15" @click="toFBPage()">
        <span style="font-size: 30px"><b>สมัครเลย</b></span>
      </v-btn>
    </div> -->

    <!-- footer -->
    <v-footer padless color="ci-grey-dk3" class="mt-15">
      <v-spacer></v-spacer>

      <v-card class="ci-grey-dk3" elevation="0">
        <v-container fluid>
          <v-row justify="center">
            <div>
              <v-img
                src="/images/logo.png"
                height="150"
                max-width="150"
                contain
                class="pointer"
                @click="footerNav(1)"
              >
              </v-img>
            </div>
          </v-row>

          <v-row justify="center" class="mb-1">
            <div class="white--text pointer" @click="footerNav(1)">สินค้า</div>
          </v-row>

          <v-row justify="center" class="mb-1">
            <div class="white--text pointer" @click="footerNav(2)">บทความ</div>
          </v-row>

          <v-row justify="center">
            <div class="white--text pointer" @click="footerNav(3)">
              สมัครเป็นตัวแทน
            </div>
          </v-row>

          <v-row justify="center" class="mb-4 mt-8">
            <strong class="white--text">
              Copyright: Brainwave Group 2021
            </strong>
          </v-row>
        </v-container>
      </v-card>

      <v-spacer> </v-spacer>
    </v-footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      mobileMenuItems: [
        {
          text: "หน้าแรก",
          to: "/",
        },
        {
          text: "บทความ",
          to: "/article",
        },
        // {
        //   text: "สิทธิพิเศษ",
        //   to: "/privilege",
        // },
        {
          text: "สมัครเป็นตัวแทน",
          to: "/dealer",
        },
      ],
      memberNoAuth: [
        {
          text: "ลงชื่อเข้าใช้",
          to: "/login",
        },
        {
          text: "สมัครสมาชิก",
          to: "/register",
        },
      ],
      memberAuth: [
        {
          text: "หน้าสมาชิก",
          to: "/profile",
        },
        {
          text: "ประวัติการสั่งซื้อ",
          to: "/profile/history",
        },
        {
          text: "คะแนนสะสม",
          to: "/profile/points",
        },
        {
          text: "เปลี่ยนรหัสผ่าน",
          to: "/profile/changepassword",
        },
      ],
      logged: false,
    };
  },
  methods: {
    toFBPage() {
      window.open("https://www.facebook.com/77-Market-110654151409036");
    },
    toCart() {
      this.$router.push("/cart");
    },
    logout() {
      this.$cookies.removeAll();

      this.$router.push(
        {
          path: "/",
          force: true,
        },
        () => {
          this.$router.go(0);
        }
      );
    },
    footerNav(navmenu) {
      switch (navmenu) {
        case 1:
          this.$router.push("/");
          break;
        case 2:
          this.$router.push("/article");
          break;
        case 3:
          this.$router.push("/dealer");
          break;
        default:
          break;
      }
    },
  },
  beforeMount() {
    if (this.$cookies.get("role") == "user") {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.logged = true;
    } else if (this.$cookies.get("role") == "admin") {
      this.$router.push("/admin");
    } else {
      this.logged = false;
    }
  },
};
</script>
