<template>
  <div>
    <div align="center" class="mt-15">
      <v-img src="/images/77marketQRlineOA.png" contain max-width="400">
      </v-img>
    </div>
    <div align="center" class="mt-10">
      <v-btn
        color="ci-green"
        class="white--text px-15"
        large
        @click="lineClick"
      >
        บนมือถือ @Line คลิกที่นี่
      </v-btn>
      <!-- https://line.me/R/ti/p/@77market?from=page -->
    </div>
    <div align="center" class="mt-5">
      <h3 class="ci-brown--text">หรือแอดไลน์ @77market</h3>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    //
  },
  methods: {
    fetchData() {
      //
    },
    lineClick() {
      window.open("https://line.me/R/ti/p/@77market?from=page");
    },
  },
  beforeMount() {
    //
  },
};
</script>