<template>
  <div>
    <div hidden>
      <input
        type="file"
        id="fileUpload"
        ref="file"
        hidden
        v-on:change="upload()"
        accept="image/*"
      />
    </div>
    <!-- member profile -->
    <div>
      <v-card tile>
        <v-img
          src="/images/profileBG.jpg"
          width="100%"
          :height="$vuetify.breakpoint.lg ? '500' : '600'"
        >
          <v-container>
            <v-row>
              <v-col align="center">
                <v-img
                  :src="getImage(form.img_url)"
                  height="150"
                  width="150"
                  contain
                ></v-img>
                <v-btn text @click="uploadClick(1)">
                  <u> เปลี่ยนรูปภาพ </u>
                </v-btn>
              </v-col>
            </v-row>
            <v-row justify="center">
              <v-col align="center" cols="12" md="3">
                <!-- <v-card
                  outlined
                  elevation="0"
                  class="px-1 py-2 rounded-pill"
                  max-width="300"
                >
                  firstname lastname
                </v-card> -->

                <v-text-field
                  v-model="form.name"
                  outlined
                  dense
                  class="rounded-pill"
                  background-color="white"
                  placeholder="ชื่อ"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row class="justify-center">
              <v-col cols="12" md="4" align="center" class="py-0">
                <v-row>
                  <v-col cols="3" align="right">
                    <!-- :align="$vuetify.breakpoint.lg ? 'right' : ''" -->
                    <v-img
                      src="/images/telephone.png"
                      width="40"
                      height="40"
                      contain
                    ></v-img>
                  </v-col>
                  <v-col cols="8">
                    <v-text-field
                      v-model="form.tel"
                      outlined
                      dense
                      class="rounded-pill"
                      background-color="white"
                      placeholder="เบอร์โทรศัพท์"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="4" align="center" class="py-0">
                <v-row>
                  <v-col cols="3" align="right">
                    <v-img
                      src="/images/facebook.png"
                      width="40"
                      height="40"
                      contain
                    ></v-img>
                  </v-col>
                  <v-col cols="8">
                    <v-text-field
                      v-model="form.facebook"
                      outlined
                      dense
                      class="rounded-pill"
                      background-color="white"
                      placeholder="facebook"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>

            <v-row class="justify-center">
              <v-col cols="12" md="4" align="center" class="py-0">
                <v-row>
                  <v-col cols="3" align="right">
                    <v-img
                      src="/images/line.png"
                      width="40"
                      height="40"
                      contain
                    ></v-img>
                  </v-col>
                  <v-col cols="8">
                    <v-text-field
                      v-model="form.line"
                      outlined
                      dense
                      class="rounded-pill"
                      background-color="white"
                      placeholder="line"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="4" align="center" class="py-0">
                <v-row>
                  <v-col cols="3" align="right">
                    <v-img
                      src="/images/instagram.png"
                      width="40"
                      height="40"
                      contain
                    ></v-img>
                  </v-col>
                  <v-col cols="8">
                    <v-text-field
                      v-model="form.ig"
                      outlined
                      dense
                      class="rounded-pill"
                      background-color="white"
                      placeholder="instagram"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-img>
      </v-card>

      <v-container>
        <v-row justify="center">
          <v-col cols="12" md="6">
            อีเมล์
            <v-text-field
              v-model="form.email"
              outlined
              dense
              readonly
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-col cols="12" md="3" align="center">
            <v-btn
              color="ci-orange"
              class="white--text"
              block
              rounded
              @click="submitHandle"
            >
              บันทึกข้อมูล
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </div>

    <!-- user profile -->
    <div v-show="false">
      <v-container>
        <v-row>
          <v-col align="center">
            <v-img
              :src="getImage(form.img_url)"
              height="150"
              width="150"
              contain
            ></v-img>
            <v-btn text @click="uploadClick(1)">
              <u> เปลี่ยนรูปภาพ </u>
            </v-btn>
          </v-col>
        </v-row>

        <v-row justify="center">
          <v-col cols="12" md="6">
            อีเมล์
            <v-text-field
              v-model="form.email"
              outlined
              dense
              readonly
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-col cols="12" md="3" align="center">
            <v-btn
              color="ci-orange"
              class="white--text"
              block
              rounded
              @click="submitHandle"
            >
              บันทึกข้อมูล
            </v-btn>
          </v-col>
        </v-row>
        <div>banner</div>
      </v-container>
    </div>
  </div>
</template>

<style scoped>
.c-chip {
  background-color: #fff;
  border: 1px solid #2e0f01;
  /* border-color: #2e0f01; */
  /* border-width: 2px !important; */
  /* height: 100%; */
}
</style>

<script>
export default {
  data() {
    return {
      usertype: null,
      form: {},
    };
  },
  methods: {
    fetchData() {
      // /user/information
      this.$axios
        .get(`/user/information/`)
        .then((response) => {
          if (response.data.success == "success") {
            this.form = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    submitHandle() {
      this.$axios
        .put(`/user/information/`, this.form)
        .then((response) => {
          if (response.data.success == "success") {
            alert("บันทึกข้อมูลเรียบร้อย");
            this.$router.go(0);
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    uploadClick(mode) {
      this.img_index = mode;
      document.getElementById("fileUpload").click();
    },
    upload() {
      let file = null;
      file = event.target.files[0];

      let fd = new FormData();
      fd.append("image", file);
      this.$axios.post("/upload/product", fd).then((response) => {
        if (response.data.success == "success") {
          if (this.img_index == 1) {
            this.form.img_url = response.data.path;
          }
          document.getElementById("fileUpload").value = null;
        } else {
          alert(
            response.data.message_th ||
              "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
          );
        }
      });
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
  },

  beforeMount() {
    if (this.$cookies.get("role") == "user") {
      this.usertype = "user";
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.fetchData();
    } else if (this.$cookies.get("role") == "dealer") {
      this.usertype = "dealer";
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.fetchData();
    } else {
      this.$router.push("/");
    }
  },
};
</script>